 html .portlet-boundary_frontend_web_payment_portlet_FrontendWebPaymentPortlet_ .portlet-content {
	background: transparent;
    border: 0;
    border-radius: 0;
 }
 
.btn-view {
    min-height: 38px;
    box-shadow: none !important;
    border-radius: 0px;
    background-color: #4cbff1 !important;
}

table.table thead th {
    white-space: normal !important;
}
body .danhSachPaymentTable__class table.table th:nth-child(1) {
  width: 40px;
}
body .danhSachPaymentTable__class table.table th:nth-child(2) {
  width: 36px;
  padding: 0;
}
body .danhSachPaymentTable__class table.table th:nth-child(3) {
  width: 240px;
  padding: 0;
}
body .danhSachPaymentTable__class table.table th:nth-child(4) {
  width: 110px;
  padding: 0;
}
body .danhSachPaymentTable__class table.table th:nth-child(5) {
  width: 125px;
  padding: 0;
}
body .danhSachPaymentTable__class table.table th:nth-child(6) {
  width: 120px;
  padding: 0;
}
body .danhSachPaymentTable__class table.table th:nth-child(7) {
  width: 100px;
}
body .danhSachPaymentTable__class table.table th:nth-child(8) {
  width: 90px;
  padding: 0;
}