@CHARSET "UTF-8";
.dvc12 ul {
	padding: 0 !important;
}

.dvc12 li {
	padding: 0 !important;
}
.show-per-page {
	margin-left: 5px;
    width: 45px;
    height: 30px;
    border-radius: 5px;
}

.dvc12 .control-label {
	text-align: left;
}
.MB10 {
	margin-bottom: 10px;
}

.dvc12 table {
    table-layout: fixed !important;
}

.dvc12 .text-ellipsis {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}