/CommonRequest.class
/DomainResponse.class
/DossierData.class
/DossierRequest.class
/DossierResponse.class
/DossierSearchModel.class
/DossierStatisticData.class
/DossierStatisticModel.class
/DossierStatisticRequest.class
/DossierStatisticResponse.class
/GetDossierData.class
/GetDossierRequest.class
/GetDossierResponse.class
/GetPersonData.class
/GetPersonRequest.class
/GetPersonResponse.class
/GetVotingResultData.class
/GetVotingResultRequest.class
/GetVotingResultResponse.class
/GovAgencyData.class
/GovAgencyRequest.class
/GovAgencyResponse.class
/PersonRequest.class
/PersonResponse.class
/PersonStatisticData.class
/ServiceDomainData.class
/ServiceDomainRequest.class
/ServiceDomainResponse.class
/ServiceInfoResponse.class
/StatisticFixedModel.class
/StatisticFixedResult.class
/VotingResponse.class
/VotingResultData.class
/VotingResultRequest.class
/VotingResultResponse.class
/VotingResultStatisticData.class
/VotingSearchModel.class
