.img-gallery {
	margin-bottom: 30px;
}
.img-gallery img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.manual-wrapper .head {
	text-transform: uppercase;
	background-color: #00204a;
	color: white;
	text-align: center;
    padding: 10px;
	font-family: 'Roboto-Bold';
}
.manual-wrapper .col-xs-3 > ul {
	border: 1px solid #ddd;
	border-top: 0;
}
.manual-wrapper a {
	display: block;
	padding: 10px 15px;
	border-top: 1px solid #ddd;
	position: relative;
}
.manual-wrapper .head + ul > li > a:hover, 
.manual-wrapper .head + ul > li > a.active {
	background-color: #deedf7;
	color: #005792;
}
.manual-wrapper a.active {
	font-family: 'Roboto-Bold';
	color: #005792;
}
.manual-wrapper ul ul a {
	padding-left: 30px;
    background-color: #f6f6f6;
}
.manual-wrapper ul ul a:before {
	content: "\f111";
	font-family: FontAwesome;
	position: absolute;
    left: 15px;
    top: 16px;
    font-size: 6px;
}

.manual-wrapper .col-xs-9 .title {
	padding: 15px 20px;
	background: url('../images/bg-manual-title.jpg') center center no-repeat;
	background-size: 100% auto;
	margin-bottom: 30px;
	font-family: 'Roboto-Bold';
	font-size: 20px;
}
.manual-wrapper iframe {
	width: 100%;
    border: 1px solid #ddd;
    background-color: #e9e9e9;
}