/NoSuchDictCollectionTempException.class
/NoSuchDictGroupTempException.class
/NoSuchDictItemGroupTempException.class
/NoSuchDictItemTempException.class
/NoSuchPushCollectionException.class
/NoSuchPushDictGroupException.class
/NoSuchPushDictItemException.class
/NoSuchSyncQueueException.class
