**/!bnd.bnd
**/!build.gradle
**/indexes.sql
**/sequences.sql
**/tables.sql
**/module-hbm.xml
**/portlet-model-hints.xml
**/module-spring.xml 
**/service.properties
**/sql/**
**/**/**.sql
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
themes/
**/.web_bundle_build
.gradle
.idea
/bundles
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
gradle-local.properties

**/.DS_Store

**/opencps/datamgt/exception/**
**/opencps/datamgt/model/**
**/opencps/datamgt/service/**

**/opencps/usermgt/exception/**
**/opencps/usermgt/model/**
**/opencps/usermgt/service/**

**/opencps/communicationmgt/exception/**
**/opencps/communicationmgt/model/**
**/opencps/communicationmgt/service/**

**/opencps/dossiermgt/exception/**
**/opencps/dossiermgt/model/**
**/opencps/dossiermgt/service/**

