**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
themes/
**/.web_bundle_build
.gradle
.idea
/bundles
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
**/.DS_Store
modules/backend-datamgt/backend-datamgt-api/src/main/java/**
modules/backend-datamgt/backend-datamgt-service/src/main/java/org/opencps/datamgt/model/
modules/backend-datamgt/backend-datamgt-service/src/main/java/org/opencps/datamgt/service/base/
modules/backend-usermgt/backend-usermgt-api/src/main/java/org/opencps/usermgt/exception/
modules/backend-usermgt/backend-usermgt-api/src/main/java/org/opencps/usermgt/model/
modules/backend-usermgt/backend-usermgt-api/src/main/java/org/opencps/usermgt/service/
modules/backend-usermgt/backend-usermgt-service/src/main/java/org/opencps/usermgt/model/
modules/backend-usermgt/backend-usermgt-service/src/main/java/org/opencps/usermgt/service/base/
