**/.metadata/
**/!bnd.bnd
**/!build.gradle
**/indexes.sql
**/sequences.sql
**/tables.sql
**/module-hbm.xml
**/module-spring.xml 
**/service.properties
**/sql/**
**/**/**.sql
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
themes/
**/.web_bundle_build
.gradle
.idea
/bundles
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
gradle-local.properties

**/.DS_Store


##Ignore tracking in service layer
**/model/impl/
**/service/base/
**/service/persistence/impl/

**/backend-usermgt-api/**/model/
**/backend-usermgt-api/**/exception/
**/backend-usermgt-api/**/service/
**/backend-usermgt-api/**/service/persistence/

**/backend-communitication-api/**/model/
**/backend-communitication-api/**/exception/
**/backend-communitication-api/**/service/
**/backend-communitication-api/**/service/persistence/

**/backend-datamgt-api/**/model/
**/backend-datamgt-api/**/exception/
**/backend-datamgt-api/**/service/
**/backend-datamgt-api/**/service/persistence/

**/backend-dossiermgt-api/**/model/
**/backend-dossiermgt-api/**/exception/
**/backend-dossiermgt-api/**/service/
**/backend-dossiermgt-api/**/service/persistence/

**/backend-kyso-process-api/**/model/
**/backend-kyso-process-api/**/exception/
**/backend-kyso-process-api/**/service/
**/backend-kyso-process-api/**/service/persistence/

**/backend-synchronization-api/**/model/
**/backend-synchronization-api/**/exception/
**/backend-synchronization-api/**/service/
**/backend-synchronization-api/**/service/persistence/

**/backend-feedback-api/**/model/
**/backend-feedback-api/**/exception/
**/backend-feedback-api/**/service/
**/backend-feedback-api/**/service/persistence/

**/**/ServiceProps.java

**/vr-business/**
**/vr-rest/**
mt-dklr/**
theme_nz/*
modules/vr-business
**/**/.settings
gradle.properties
