/CommentLocalService.class
/CommentLocalServiceUtil.class
/CommentLocalServiceWrapper.class
/EvaluationLocalService.class
/EvaluationLocalServiceUtil.class
/EvaluationLocalServiceWrapper.class
/VotingLocalService.class
/VotingLocalServiceUtil.class
/VotingLocalServiceWrapper.class
/VotingResultLocalService.class
/VotingResultLocalServiceUtil.class
/VotingResultLocalServiceWrapper.class
