/OpencpsDossierStatisticLocalService.class
/OpencpsDossierStatisticLocalServiceUtil.class
/OpencpsDossierStatisticLocalServiceWrapper.class
/OpencpsPersonStatisticLocalService.class
/OpencpsPersonStatisticLocalServiceUtil.class
/OpencpsPersonStatisticLocalServiceWrapper.class
/OpencpsVotingStatisticLocalService.class
/OpencpsVotingStatisticLocalServiceUtil.class
/OpencpsVotingStatisticLocalServiceWrapper.class
