/Comment.class
/CommentModel.class
/CommentSoap.class
/CommentWrapper.class
/Evaluation.class
/EvaluationModel.class
/EvaluationSoap.class
/EvaluationWrapper.class
/Voting.class
/VotingModel.class
/VotingResult.class
/VotingResultModel.class
/VotingResultSoap.class
/VotingResultWrapper.class
/VotingSoap.class
/VotingWrapper.class
