/CommentPersistenceImpl.class
/DictCollectionPersistenceImpl.class
/DictGroupPersistenceImpl.class
/DictItemGroupPersistenceImpl.class
/DictItemPersistenceImpl.class
/FileAttachPersistenceImpl.class
/HolidayPersistenceImpl.class
/VotingPersistenceImpl.class
/VotingResultPersistenceImpl.class
/WorkTimePersistenceImpl.class
