/**
* Lexicon 1.0.24
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
@import "../../aui_variables";
@import "fonts/alloy-font-awesome/scss/variables";

@import "lexicon-base/mixins/global-functions";

@import "atlas-theme/variables";
@import "bootstrap/variables";

@import "../../liferay_variables_custom";
@import "../../liferay_variables";