/*------------------------------
			MARGIN
------------------------------*/
.MA {margin: auto !important}
.MLA {margin-left: auto !important}
.MRA {margin-right: auto !important}
.M0 {margin: 0 !important}

.MT0 {margin-top: 0 !important}
.MR0 {margin-right: 0 !important}
.MB0 {margin-bottom: 0 !important}
.ML0 {margin-left: 0 !important}

.MT5 {margin-top: 5px !important}
.MR5 {margin-right: 5px !important}
.MB5 {margin-bottom: 5px !important}
.ML5 {margin-left: 5px !important}

.MT10 {margin-top: 10px !important}
.MR10 {margin-right: 10px !important}
.MB10 {margin-bottom: 10px !important}
.ML10 {margin-left: 10px !important}

.MT15 {margin-top: 15px !important}
.MR15 {margin-right: 15px !important}
.MB15 {margin-bottom: 15px !important}
.ML15 {margin-left: 15px !important}

.MT20 {margin-top: 20px !important}
.MR20 {margin-right: 20px !important}
.MB20 {margin-bottom: 20px !important}
.ML20 {margin-left: 20px !important}

.MT25 {margin-top: 25px !important}
.MR25 {margin-right: 25px !important}
.MB25 {margin-bottom: 25px !important}
.ML25 {margin-left: 25px !important}

.MT30 {margin-top: 30px !important}
.MR30 {margin-right: 30px !important}
.MB30 {margin-bottom: 30px !important}
.ML30 {margin-left: 30px !important}

.MT35 {margin-top: 35px !important}
.MR35 {margin-right: 35px !important}
.MB35 {margin-bottom: 35px !important}
.ML35 {margin-left: 35px !important}

.MT40 {margin-top: 40px !important}
.MR40 {margin-right: 40px !important}
.MB40 {margin-bottom: 40px !important}
.ML40 {margin-left: 40px !important}

.MT45 {margin-top: 45px !important}
.MR45 {margin-right: 45px !important}
.MB45 {margin-bottom: 45px !important}
.ML45 {margin-left: 45px !important}

.MT50 {margin-top: 50px !important}
.MR50 {margin-right: 50px !important}
.MB50 {margin-bottom: 50px !important}
.ML50 {margin-left: 50px !important}

.MT55 {margin-top: 55px !important}
.MR55 {margin-right: 55px !important}
.MB55 {margin-bottom: 55px !important}
.ML55 {margin-left: 55px !important}

.MT60 {margin-top: 60px !important}
.MR60 {margin-right: 60px !important}
.MB60 {margin-bottom: 60px !important}
.ML60 {margin-left: 60px !important}

.MT65 {margin-top: 65px !important}
.MR65 {margin-right: 65px !important}
.MB65 {margin-bottom: 65px !important}
.ML65 {margin-left: 65px !important}

.MT70 {margin-top: 70px !important}
.MR70 {margin-right: 70px !important}
.MB70 {margin-bottom: 70px !important}
.ML70 {margin-left: 70px !important}

.MT75 {margin-top: 75px !important}
.MR75 {margin-right: 75px !important}
.MB75 {margin-bottom: 75px !important}
.ML75 {margin-left: 75px !important}

.MT80 {margin-top: 80px !important}
.MR80 {margin-right: 80px !important}
.MB80 {margin-bottom: 80px !important}
.ML80 {margin-left: 80px !important}

.MT85 {margin-top: 85px !important}
.MR85 {margin-right: 85px !important}
.MB85 {margin-bottom: 85px !important}
.ML85 {margin-left: 85px !important}

.MT90 {margin-top: 90px !important}
.MR90 {margin-right: 90px !important}
.MB90 {margin-bottom: 90px !important}
.ML90 {margin-left: 90px !important}

.MT95 {margin-top: 95px !important}
.MR95 {margin-right: 95px !important}
.MB95 {margin-bottom: 95px !important}
.ML95 {margin-left: 95px !important}

.MT100 {margin-top: 100px !important}
.MR100 {margin-right: 100px !important}
.MB100 {margin-bottom: 100px !important}
.ML100 {margin-left: 100px !important}

.MTN1 {margin-top: -1px !important}
.MRN1 {margin-right: -1px !important}
.MBN1 {margin-bottom: -1px !important}
.MLN1 {margin-left: -1px !important}

.MTN2 {margin-top: -2px !important}
.MRN2 {margin-right: -2px !important}
.MBN2 {margin-bottom: -2px !important}
.MLN2 {margin-left: -2px !important}

.MTN3 {margin-top: -3px !important}
.MRN3 {margin-right: -3px !important}
.MBN3 {margin-bottom: -3px !important}
.MLN3 {margin-left: -3px !important}

.MTN4 {margin-top: -4px !important}
.MRN4 {margin-right: -4px !important}
.MBN4 {margin-bottom: -4px !important}
.MLN4 {margin-left: -4px !important}

.MTN5 {margin-top: -5px !important}
.MRN5 {margin-right: -5px !important}
.MBN5 {margin-bottom: -5px !important}
.MLN5 {margin-left: -5px !important}


@media (min-width: 768px) {
	
	.M0-lg {margin: 0 !important;}
	.ML0-lg {margin-left: 0 !important;}
	.MR0-lg {margin-right: 0 !important;}
	
}

@media (max-width: 767px) {

	.MT5-sm {margin-top: 5px !important}
	.MR5-sm {margin-right: 5px !important}
	.MB5sm {margin-bottom: 5px !important}
	.ML5sm {margin-left: 5px !important}

	.MT10-sm {margin-top: 10px !important}
	.MR10-sm {margin-right: 10px !important}
	.MB10sm {margin-bottom: 10px !important}
	.ML10sm {margin-left: 10px !important}

	.MT15-sm {margin-top: 15px !important}
	.MR15-sm {margin-right: 15px !important}
	.MB15sm {margin-bottom: 15px !important}
	.ML15sm {margin-left: 15px !important}

}



/*------------------------------
			PADDING
------------------------------*/
.P0 {padding: 0 !important}
.PT0 {padding-top: 0 !important}
.PB0 {padding-bottom: 0 !important}
.PL0 {padding-left: 0 !important}
.PR0 {padding-right: 0 !important}

.P5 {padding: 5px !important}
.PT5 {padding-top: 5px !important}
.PB5 {padding-bottom: 5px !important}
.PL5 {padding-left: 5px !important}
.PR5 {padding-right: 5px !important}

.P10 {padding: 10px !important}
.PT10 {padding-top: 10px !important}
.PB10 {padding-bottom: 10px !important}
.PL10 {padding-left: 10px !important}
.PR10 {padding-right: 10px !important}

.P15 {padding: 15px !important}
.PT15 {padding-top: 15px !important}
.PB15 {padding-bottom: 15px !important}
.PL15 {padding-left: 15px !important}
.PR15 {padding-right: 15px !important}

.P20 {padding: 20px !important}
.PT20 {padding-top: 20px !important}
.PB20 {padding-bottom: 20px !important}
.PL20 {padding-left: 20px !important}
.PR20 {padding-right: 20px !important}

.P25 {padding: 25px !important}
.PT25 {padding-top: 25px !important}
.PB25 {padding-bottom: 25px !important}
.PL25 {padding-left: 25px !important}
.PR25 {padding-right: 25px !important}

.P30 {padding: 30px !important}
.PT30 {padding-top: 30px !important}
.PB30 {padding-bottom: 30px !important}
.PL30 {padding-left: 30px !important}
.PR30 {padding-right: 30px !important}

.P35 {padding: 35px !important}
.PT35 {padding-top: 35px !important}
.PB35 {padding-bottom: 35px !important}
.PL35 {padding-left: 35px !important}
.PR35 {padding-right: 35px !important}

.P40 {padding: 40px !important}
.PT40 {padding-top: 40px !important}
.PB40 {padding-bottom: 40px !important}
.PL40 {padding-left: 40px !important}
.PR40 {padding-right: 40px !important}

.P45 {padding: 45px !important}
.PT45 {padding-top: 45px !important}
.PB45 {padding-bottom: 45px !important}
.PL45 {padding-left: 45px !important}
.PR45 {padding-right: 45px !important}

.P50 {padding: 50px !important}
.PT50 {padding-top: 50px !important}
.PB50 {padding-bottom: 50px !important}
.PL50 {padding-left: 50px !important}
.PR50 {padding-right: 50px !important}

.P55 {padding: 55px !important}
.PT55 {padding-top: 55px !important}
.PB55 {padding-bottom: 55px !important}
.PL55 {padding-left: 55px !important}
.PR55 {padding-right: 55px !important}

.P60 {padding: 60px !important}
.PT60 {padding-top: 60px !important}
.PB60 {padding-bottom: 60px !important}
.PL60 {padding-left: 60px !important}
.PR60 {padding-right: 0px !important}

.P65 {padding: 65px !important}
.PT65 {padding-top: 65px !important}
.PB65 {padding-bottom: 65px !important}
.PL65 {padding-left: 65px !important}
.PR65 {padding-right: 65px !important}

.P70 {padding: 70px !important}
.PT70 {padding-top: 70px !important}
.PB70 {padding-bottom: 70px !important}
.PL70 {padding-left: 70px !important}
.PR70 {padding-right: 70px !important}

.P75 {padding: 75px !important}
.PT75 {padding-top: 75px !important}
.PB75 {padding-bottom: 75px !important}
.PL75 {padding-left: 75px !important}
.PR75 {padding-right: 75px !important}

.P80 {padding: 80px !important}
.PT80 {padding-top: 80px !important}
.PB80 {padding-bottom: 80px !important}
.PL80 {padding-left: 80px !important}
.PR80 {padding-right: 80px !important}

.P85 {padding: 85px !important}
.PT85 {padding-top: 85px !important}
.PB85 {padding-bottom: 85px !important}
.PL85 {padding-left: 85px !important}
.PR85 {padding-right: 85px !important}

.P90 {padding: 90px !important}
.PT90 {padding-top: 90px !important}
.PB90 {padding-bottom: 90px !important}
.PL90 {padding-left: 90px !important}
.PR90 {padding-right: 90px !important}

.P95 {padding: 95px !important}
.PT95 {padding-top: 95px !important}
.PB95 {padding-bottom: 95px !important}
.PL95 {padding-left: 95px !important}
.PR95 {padding-right: 95px !important}

.P100 {padding: 100px !important}
.PT100 {padding-top: 100px !important}
.PB100 {padding-bottom: 100px !important}
.PL100 {padding-left: 100px !important}
.PR100 {padding-right: 100px !important}


@media (min-width: 768px) {
	
	.P0-lg {padding: 0 !important}
	.PL0-lg {padding-left: 0 !important}
	.PR0-lg {padding-right: 0 !important}
	
}

@media (max-width: 767px) {

	.P0-sm {padding: 0 !important}
	.PL0-sm {padding-left: 0 !important}
	.PR0-sm {padding-right: 0 !important}
	
	.P5-sm {padding: 5px !important}
	.PL5-sm {padding-left: 5px !important}
	.PR5-sm {padding-right: 5px !important}

	.P10-sm {padding: 10px !important}
	.PL10-sm {padding-left: 10px !important}
	.PR10-sm {padding-right: 10px !important}

	.P15-sm {padding: 15px !important}
	.PL15-sm {padding-left: 15px !important}
	.PR15-sm {padding-right: 15px !important}
	
}



/*------------------------------
			COLOR
------------------------------*/
.red {color: red}



/*------------------------------
			FONT-SIZE
------------------------------*/
.fs10 {font-size: 10px !important}
.fs11 {font-size: 11px !important}
.fs12 {font-size: 12px !important}
.fs13 {font-size: 13px !important}
.fs14 {font-size: 14px !important}
.fs16 {font-size: 16px !important}
.fs18 {font-size: 18px !important}
.fs20 {font-size: 20px !important}
.fs22 {font-size: 22px !important}
.fs24 {font-size: 24px !important}
.fs26 {font-size: 26px !important}
.fs28 {font-size: 28px !important}
.fs30 {font-size: 30px !important}



/*------------------------------
			ALIGN-EQUAL
------------------------------*/
.eq-height {display: -webkit-box; display: flex;}
.eq-height-break {display: -webkit-box; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap}
.align-middle {display: -webkit-box; display: flex; -webkit-align-items: center; align-items: center}
.align-center {display: -webkit-box; display: flex; -webkit-justify-content: center; justify-content: center}
.center-all {display: -webkit-box; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center}
.align-space-around {display: -webkit-box; display: flex; -webkit-justify-content: space-around; justify-content: space-around;}
.align-space-between {display: -webkit-box; display: flex; -webkit-justify-content: space-between; justify-content: space-between;}
.flex-break {-webkit-flex-wrap: wrap; flex-wrap: wrap;}


.eq-height-lg {display: -webkit-box; display: flex;}
.eq-height-break-lg {display: -webkit-box; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap}
.align-middle-lg {display: -webkit-box; display: flex; -webkit-align-items: center; align-items: center}
.align-center-lg {display: -webkit-box; display: flex; -webkit-justify-content: center; justify-content: center}
.center-all-lg {display: -webkit-box; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center}
.align-space-around-lg {display: -webkit-box; display: flex; -webkit-justify-content: space-around; justify-content: space-around;}
.align-space-between-lg {display: -webkit-box; display: flex; -webkit-justify-content: space-between; justify-content: space-between;}

@media (max-width: 767px) {
	.eq-height-lg, .eq-height-break-lg, .align-middle-lg, .align-center-lg, .center-all-lg, .align-space-around-lg, .align-space-between-lg {
		display: block;
		/* overflow: hidden; */
	}

	.eq-height-sm {display: -webkit-box; display: flex;}
	.eq-height-break-sm {display: -webkit-box; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap}
	.align-middle-sm {display: -webkit-box; display: flex; -webkit-align-items: center; align-items: center}
	.align-center-sm {display: -webkit-box; display: flex; -webkit-justify-content: center; justify-content: center}
	.center-all-sm {display: -webkit-box; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center}
	.align-space-around-sm {display: -webkit-box; display: flex; -webkit-justify-content: space-around; justify-content: space-around;}
	.align-space-between-sm {display: -webkit-box; display: flex; -webkit-justify-content: space-between; justify-content: space-between;}
}



/*------------------------------
			DISPLAY
------------------------------*/
.display-block {
	display: block !important;
}
.display-inline-block {
	display: inline-block !important;
}
.display-inline {
	display: inline !important;
}



/*------------------------------
			BORDER
------------------------------*/

/*-- Reset --*/
.no-border {
	border: 0 !important;
}
.no-border-side {
	border-width: 1px 0 !important;
}
.no-border-top {
	border-top: 0 !important;
}
.no-border-right {
	border-right: 0 !important;
}
.no-boder-bottom {
	border-bottom: 0 !important;
}
.no-border-left {
	border-left: 0 !important;
}
.no-border-radius {
	border-radius: 0 !important;
}

/*-- Border --*/
.border {
	border: 1px solid #e3e3e3;
}
.border-top {
	border-top: 1px solid #e3e3e3;
}
.border-right {
	border-right: 1px solid #e3e3e3;
}
.border-bottom {
	border-bottom: 1px solid #e3e3e3;
}
.border-left {
	border-left: 1px solid #e3e3e3;
}
/* Border width */
.border-width-2 {
	border-width: 2px;
}
.border-top-width-2 {
	border-top-width: 2px;
}
.border-right-width-2 {
	border-right-width: 2px;
}
.border-bottom-width-2 {
	border-bottom-width: 2px;
}
.border-left-width-2 {
	border-left-width: 2px;
}
.border-width-3 {
	border-width: 3px;
}
.border-top-width-3 {
	border-top-width: 3px;
}
.border-right-width-3 {
	border-right-width: 3px;
}
.border-bottom-width-3 {
	border-bottom-width: 3px;
}
.border-left-width-3 {
	border-left-width: 3px;
}
/* Border style */
.border-dashed {
	border-style: dashed;
}
.border-top-dashed {
	border-top-style: dashed;
}
.border-bottom-dashed {
	border-bottom-style: dashed;
}
.border-dotted {
	border-style: dotted;
}
.border-top-dotted {
	border-top-style: dotted;
}
.border-bottom-dotted {
	border-bottom-style: dotted;
}

.border-rad-Lside {
	border-radius: 4px 0 0 4px !important;
}
.border-rad-Rside {
	border-radius: 0 4px 4px 0 !important;
}
.border-rad-4 {
	border-radius: 4px !important;
}
.border-rad-6 {
	border-radius: 6px !important;
}
.border-rad-8 {
	border-radius: 8px !important;
}
.border-rad-50p {
	border-radius: 50% !important;
}



/*------------------------------
			Line divide
------------------------------*/
.line-solid {
	width: 100%;
	border-top: 1px solid #ddd;
}
.line-dashed {
	width: 100%;
	border-top: 1px dashed #ddd;
}
.line-dotted {
	width: 100%;
	border-top: 1px dotted #ddd;
}



/*------------------------------
			Line height
------------------------------*/
.with-input {
	line-height: 34px;
	margin-bottom: 0;
}
.with-input-sm {
	line-height: 30px;
	margin-bottom: 0;
}
.lh32 {
	line-height: 32px;
}



/*------------------------------
			OTHER
------------------------------*/
.text-bold {
	font-weight: bold !important;
}
.text-normal {
	font-weight: normal !important;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full-width {
	width: 100% !important;
}
.max-width-100 {
	max-width: 100% !important;
}

.clear-both {
	clear: both;
}

.no-shadow {
	box-shadow: none;
}

body b, body label, body .label, body strong {
	font-weight: bold;
}