/OpencpsCallDossierRestFacadeImpl.class
/OpencpsCallGovAgencyRestFacadeImpl.class
/OpencpsCallPersonRestFacadeImpl.class
/OpencpsCallRestFacade.class
/OpencpsCallServiceDomainRestFacadeImpl.class
/OpencpsCallServiceInfoRestFacadeImpl.class
/OpencpsCallServiceRestFacadeImpl.class
/OpencpsCallStatisticRestFacadeImpl.class
/OpencpsCallVotingRestFacadeImpl.class
