/DossierStatisticFinderService.class
/DossierStatisticFinderServiceImpl.class
/PersonStatisticFinderService.class
/PersonStatisticFinderServiceImpl.class
/VotingStatisticFinderService.class
/VotingStatisticFinderServiceImpl.class
