		</div>
	</article>
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"> <div class="modal-dialog" style="position: relative !important;"> <div class="modal-content" style="padding-bottom: 15px;"> </div> </div> <!-- /.modal-dialog --> </div>


	<div class="modal fade" id="modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"> <div class="modal-dialog modal-lg" style="position: relative !important;"> <div class="modal-content" style="padding-bottom: 15px;"> </div> </div> <!-- /.modal-dialog --> </div>
	<footer id="footer">
		<div class="container-fluid align-middle">
			<div class="site-name">
				<i class="fa fa-copyright" aria-hidden="true"></i> Cổng dịch vụ công trực tuyến
			</div>
		</div>
	</footer>
</body>
</html>