@CHARSET "UTF-8";
     body {
        font-size: 13px;
    };
    /* Cac buoc */
.steps {
    margin-bottom: 15px;
}
.steps .step-od {
    width: -webkit-calc((100% - 10%) / 4);
    width: calc((100% - 10%) / 4);
    margin-right: 4%;
    background-color: #ccc;
    padding: 5px 15px 5px 0;
    position: relative;
}
.steps .step-od.done {
    background-color: #14bef0;  
}
.steps .step-od:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 100%;
    border: 5px solid #f6f6f6;
    border-width: 5px 5px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 10px;
}
.steps .step-od:after {
    border: 22px solid transparent;
    content: "";
    border-left-width: 25px;
    border-left-color: #ccc;
    position: absolute;
    right: -47px;
}

.steps .step-od.done:after {
    border-left-color: #14bef0;
}

.steps .step-od:last-child {
    margin-right: 0;
}
.steps .step-od span {
    display: inline-block;
    line-height: normal;
    color: white;
}
.steps .step-od span:first-child {
    font-size: 26px;
    width: 50px;
    text-align: center;
    margin-right: 25px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.btn-next {
    border: none;
    border-radius: 0px;
    border-left: 1.5px white solid
}

.block-arrow {
    background-color: #0b72ba;
    display: inline-block;
    padding: 3px;
    width: 25px;
    text-align: center;
    color: white;
    position: relative;
    margin-right: 20px;
    text-transform: uppercase;
}

.block-arrow:after {
    border: 12px solid transparent;
    content: "";
    border-left-color: #0b72ba;
    position: absolute;
    right: -24px;
    top: 0px;
}

.heading-item{
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid #f6f6f6;
}

.info-content p {
    padding-top: 7px;
    color: #0000009e;
}

.edit-info {
    float: right;
    margin-right: 20px;
}

.table-striped > tbody > tr:nth-child(odd  ) > td, .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
   background-color: #c7e7ee;
}

.part-border {
    border-bottom: 1px #c7e7ee solid;
}

.part-border > div {
    padding: 10px;
    min-height: 30px;
}

.part-border > div:last-child {
    border-left: 1px #c7e7ee solid;
    padding: 0px;
}

.part-action >*{
    padding: 10px;
    min-height: 30px;
    border-right: 1px #c7e7ee solid;
    display: flex;
    margin: 0px !important;
}

.part-action > * > *{
    margin: auto !important;
}

.part-action >*:last-child{
    border-right:none;
}

.bg-grey{
    background-color: #fafafa;
}

.row-flex {
    display: flex;
}

.choose-paper{
    height: 23px;
    width: 100%;
}

.choose-paper > option:first-child{
    color:#bcbcbf;
    font-style: italic;
}

.receiver-heading{
    line-height: 30px;
    background-color: #fafafa;
}

.list-part{
    list-style: decimal;
}

.border-shadow{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    padding: 30px 20px;
}

.border-shadow hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.dossierId {
    background-color: #ececec;
    border-radius: 7px;
    padding: 2px 7px;
}
@media (max-width: 767px) {
    .steps {
        margin-left: 0;
    }
    .steps .step {
        padding: 5px 10px;
        border-radius: 6px;;
        text-align: center;
    }
    .steps .step:before, .steps .step:after {
        display: none;
    }
    .steps .step span:first-child {
        font-size: 18px;
        width: 100%;
        margin: 0;
    }
}

@media print {
  body * {
    visibility: hidden;
  }
  #applicant-paper, #applicant-paper * {
    visibility: visible;
  }
  #applicant-paper {
    position: absolute !important;
    left: 0;
    top: 0;
  }
}