/ApplicantTerm.class
/CommonTerm.class
/ContactGroupTerm.class
/ContactsTerm.class
/EmployeeFileTerm.class
/EmployeeJobPosTerm.class
/EmployeeTerm.class
/JobPosTerm.class
/JobPosWorkTerm.class
/JoinSiteStatusTerm.class
/OfficeSiteTerm.class
/PartnerFileTerm.class
/ResourceRoleTerm.class
/ResourceUserTerm.class
/UserMGTConstants.class
/WorkingUnitTerm.class
