<div class="row">
         <div class="col-xs-12 col-sm-4">
         	Tỉnh/Thành phố
         </div> 
       	<div class="col-xs-12 col-sm-8">
				<div class="form-group">
					<input id="province" class="form-control" placeholder="Chọn Tỉnh/Thành Phố" data-bind="value: cityCode"/>
				</div>
			</div>		
		</div>
		
		<div class="row">
         <div class="col-xs-12 col-sm-4">
         	Quận/Huyện
         </div> 
       	<div class="col-xs-12 col-sm-8">
				<div class="form-group">
					<input id="district" class="form-control" placeholder="Chọn Quận/Huyện" />
					<!-- data-bind="value: districtCode" -->
				</div>
			</div>		
		</div>
		
		<div class="row">
         <div class="col-xs-12 col-sm-4">
         	Phường/Xã
         </div> 
       	<div class="col-xs-12 col-sm-8">
				<div class="form-group">
					<input id="ward" class="form-control" placeholder="Chọn Phường/Xã" data-bind="value: wardCode"/>
				</div>
			</div>		
		</div>