<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Đơn vị hành chính</title>

		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/style-components.css">
		<link rel="stylesheet" href="../css/custom.css">
		<link rel="stylesheet" href="../css/kendo.common.min.css">
		<link rel="stylesheet" href="../css/kendo.default.min.css">
		<script src="../js/jquery-1.11.3.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/kendo.ui.core.min.js"></script>
		<script src="../js/kendo.messages.en-US.min.js"></script>
		<script src="../js/opencps.util.js"></script>
	</head>

	<body>
		<div class="row">
         <div class="col-xs-12 col-sm-4">
         	Tỉnh/Thành phố
         </div> 
       	<div class="col-xs-12 col-sm-8">
				<div class="form-group">
					<input id="province" class="form-control" placeholder="Chọn Tỉnh/Thành Phố"/>
				</div>
			</div>		
		</div>
		
		<div class="row">
         <div class="col-xs-12 col-sm-4">
         	Quận/Huyện
         </div> 
       	<div class="col-xs-12 col-sm-8">
				<div class="form-group">
					<input id="district" class="form-control" placeholder="Chọn Quận/Huyện"/>
				</div>
			</div>		
		</div>
		
		<div class="row">
         <div class="col-xs-12 col-sm-4">
         	Phường/Xã
         </div> 
       	<div class="col-xs-12 col-sm-8">
				<div class="form-group">
					<input id="ward" class="form-control" placeholder="Chọn Phường/Xã"/>
				</div>
			</div>		
		</div>
        
		<script>
			var defaultProvinceCode = '';
			var namespace = namespace(6);
			$(document).ready(function() {
				var provincesDatasource = loadDatasource('../datasource/provinces.json', 'json');
				
            // create ComboBox from input HTML element
  				$("#province").kendoComboBox({
					dataTextField: "name",
					dataValueField: "code",
					dataSource: provincesDatasource,
					filter: "contains",
					suggest: false,
					index: 1,
					select: function (e) {
						
					},
					change: function (e) {
						var selectedItemValue = province.value();
						district.value('');
						ward.value('');
						district.setDataSource([]);
						ward.setDataSource([]);
						$.getJSON( '../datasource/districts.json' , function( data ){
							if(data != null && data != 'undefined'){
								var districData = data[selectedItemValue];
								district.setDataSource(districData);
							}
							
						});
					},
					close: function () {
						
					},
					open: function () {
						
					},
					filtering: function (e) {
						
					},
					dataBound: function (e) {
						
					}
					
				});

				// create ComboBox from input HTML element
				$("#district").kendoComboBox({
					dataTextField: "name",
					dataValueField: "code",
					dataSource: [],
					change: function (e) {
						var selectedItemValue = district.value();
						ward.value('');
						ward.setDataSource([]);
						$.getJSON( '../datasource/wards.json' , function( data ){
							if(data != null && data != 'undefined'){
								var wardData = data[selectedItemValue];
								ward.setDataSource(wardData);
							}
						});
					}
				});
				// create ComboBox from input HTML element
				$("#ward").kendoComboBox({
					dataTextField: "name",
					dataValueField: "code",
					dataSource: [],
							
				});	
				
				var province = $("#province").data("kendoComboBox");
				province.value(defaultProvinceCode);
				
				var district = $("#district").data("kendoComboBox");
				var ward = $("#ward").data("kendoComboBox");
				
			});
		</script>
	</body>
</html>