<div class="container align-middle">
	<div class="site-name">
		<i class="fa fa-copyright" aria-hidden="true"></i> Cổng dịch vụ công trực tuyến
		<span>TỈNH SƠN LA</span>
	</div>
	<div class="contact">
		<p><i class="fa fa-phone" aria-hidden="true"></i> 022.3750983 -  0223.858728</p>
		<p><i class="fa fa-envelope" aria-hidden="true"></i> stttt@sonla.gov.vn</p>
	</div>
	<div class="address">
		<i class="fa fa-map-marker" aria-hidden="true"></i>
		<span>Đường Hoàng Quốc Việt, Phường Chiềng Cơi, Thành phố Sơn La, Tỉnh Sơn La</span>
	</div>
	<div class="owner">
		<span>Cơ quan chủ quản: Sở Thông tin và Truyền thông Sơn La</span>
		<span>Chịu trách nhiệm xuất bản: Sở Thông tin và Truyền thông Sơn La</span>
	</div>
</div>