<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span> 
		</button>
		<!--<a class="navbar-brand" href="#">WebSiteName</a>-->
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a></li>
			<li><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i> Dịch vụ công</a></li> 
			<li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Nộp hồ sơ</a></li>
			<li><a href="#"><i class="fa fa-university" aria-hidden="true"></i> Cổng hành chính công</a></li>
		</ul>
	</div>
</div>