/CommentLocalServiceBaseImpl.class
/DictCollectionLocalServiceBaseImpl.class
/DictGroupLocalServiceBaseImpl.class
/DictItemGroupLocalServiceBaseImpl.class
/DictItemLocalServiceBaseImpl.class
/FileAttachLocalServiceBaseImpl.class
/HolidayLocalServiceBaseImpl.class
/VotingLocalServiceBaseImpl.class
/VotingResultLocalServiceBaseImpl.class
/WorkTimeLocalServiceBaseImpl.class
