/DossierStatisticUpdateService.class
/DossierStatisticUpdateServiceImpl.class
/PersonStatisticSumYearCalcular.class
/PersonStatisticUpdateService.class
/PersonStatisticUpdateServiceImpl.class
/StatisticEngineFetch.class
/StatisticEngineFetchEntry.class
/StatisticEngineUpdate.class
/StatisticEngineUpdateAction.class
/StatisticSumYearCalcular.class
/StatisticSumYearService.class
/StatisticUtils.class
/VotingStatisticSumYearCalcular.class
/VotingStatisticUpdateService.class
/VotingStatisticUpdateServiceImpl.class
