/OpencpsDossierStatisticFinder.class
/OpencpsDossierStatisticPersistence.class
/OpencpsDossierStatisticUtil.class
/OpencpsPersonStatisticFinder.class
/OpencpsPersonStatisticPersistence.class
/OpencpsPersonStatisticUtil.class
/OpencpsVotingStatisticFinder.class
/OpencpsVotingStatisticPersistence.class
/OpencpsVotingStatisticUtil.class
