/AnswerLocalServiceBaseImpl.class
/ApplicantLocalServiceBaseImpl.class
/EmployeeJobPosLocalServiceBaseImpl.class
/EmployeeLocalServiceBaseImpl.class
/HmacAuthenLocalServiceBaseImpl.class
/JobPosLocalServiceBaseImpl.class
/JobPosWorkLocalServiceBaseImpl.class
/OfficeSiteLocalServiceBaseImpl.class
/PreferencesLocalServiceBaseImpl.class
/QuestionLocalServiceBaseImpl.class
/ResourceRoleLocalServiceBaseImpl.class
/ResourceUserLocalServiceBaseImpl.class
/UserLoginLocalServiceBaseImpl.class
/UserTrackPathLocalServiceBaseImpl.class
/VisibilityLocalServiceBaseImpl.class
/WorkingUnitLocalServiceBaseImpl.class
