/ApplicantInputModel.class
/ApplicantInputUpdateModel.class
/ApplicantModel.class
/ApplicantResultsModel.class
/ApplicantSearchModel.class
/MappingUser.class
/ObjectFactory.class
/ProfileInputModel.class
/RegisterModel.class
