<div id="paymentViewJX"></div>
<!-- TODO paymentViewJX template one page -->
<template id="paymentViewJX_form_template">
    <div>
        <!-- TODO detailTemplate page -->
        <div v-show="detailPage">
            <div class="row-header">
                <div class="background-triangle-big"> Thông tin thanh toán </div>
                <div class="layout row wrap header_tools row-blue">

                    <div class="flex xs3 dossier-number">

                        <div class="order-number-detail">
                            <span>#</span>
                            <span class="text-normal">
                                1559
                                <span>
                        </div>

                    </div>

                    <div class="flex xs3 receive-number">

                        <span class="text-normal">Mã tiếp nhận:</span>

                    </div>

                    <div class="flex xs6 text-right">

                        <code class="label-info">Tạo mới</code>
                        <v-btn flat class="mx-0 my-0 px-0 py-0 btn-border-left" color="grey darken-1" v-on:click.native="detailPage = !detailPage">
                            Quay lại
                            <v-icon>undo</v-icon>
                        </v-btn>

                    </div>

                </div>

            </div>
            <div class="panel">
                <v-card-text>
                    <div class="layout wrap">
                        <div class="flex xs12 sm6 border-right-1">
                            <div class="text-bold mb-2">
                                12313131
                            </div>
                            <div>
                                <v-icon>person</v-icon>
                                55453453453
                            </div>
                            <div class="my-2">
                                <span class="text-bold">
                                    Ngày yêu cầu nộp phí:
                                </span>
                                55453453453
                            </div>

                            <div class="my-2">
                                <span class="text-bold">
                                    Ngày xác nhận nộp phí:
                                </span>
                                55453453453
                            </div>

                            <div class="my-2">
                                <span class="text-bold">
                                    Số tiền cần nộp:
                                </span>
                                <span class="red--text text-bold">
                                    80.000 VNĐ
                                </span>
                            </div>
                        </div>
                        <div class="flex xs12 sm6 pl-3">
                            <div class="mb-2">
                                <span class="text-bold">
                                    Tên phí, lệ phí:
                                </span>
                                55453453453
                            </div>
                            <div class="my-2">
                                <v-icon>account_balance</v-icon>
                                55453453453
                            </div>
                            <div class="my-2">
                                <v-icon>attach_money</v-icon>
                                Báo nộp chuyển khoản
                            </div>
                            <div class="my-2">
                                <span class="text-bold">
                                    Chứng từ kèm theo:
                                </span>
                                bitcoin.png
                            </div>
                            <div class="my-2">
                                <span class="text-bold">
                                    Ngày xác nhận thu phí:
                                </span>
                                55453453453
                            </div>
                            <div class="my-2">
                                <span class="text-bold">
                                    Người thực hiện:
                                </span>
                                55453453453
                            </div>
                        </div>
                    </div>
                </v-card-text>
            </div>
        </div>

        <v-slide-x-transition>
            <div class="row-header" v-show="!detailPage">
                <div class="background-triangle-big"> Danh sách thu phí hồ sơ </div>
                <div class="layout row wrap header_tools">

                    <div class="flex xs12 sm7" jx-bind="paymentStatusSearch">

                    </div>

                    <div class="flex xs12 sm5 pr-3" jx-bind="keywordsSearch">

                    </div>

                </div>
            </div>
        </v-slide-x-transition>
        <v-slide-x-transition>
            <div class="layout wrap" jx-bind="paymentList" v-show="!detailPage">

            </div>
        </v-slide-x-transition>
        <div class="text-center" v-show="!detailPage">
            <v-scale-transition>

                <v-btn dark v-show="showmore" color="blue darken-2" :loading="viewmore" :disabled="viewmore">
                    Tổng số ( {{paymentListItems.length}} ) bản ghi
                    <span slot="loader">Đang tải ...</span>
                </v-btn>

            </v-scale-transition>
        </div>

    </div>
</template>
<!-- TODO paymentViewJX template one page view List detail template -->
<template id="activity_expand_list_template">

    <div class="flex xs12 ">

        <div class="layout wrap row-blue">

            <div class="flex xs3 dossier-number">

                <div class="order-number">1</div>

                <div class="order-number-detail">
                    <span>#</span>
                    <span class="text-normal">
                        1559
                        <span>
                </div>

            </div>

            <div class="flex xs3 receive-number">

                <span class="text-normal">Mã tiếp nhận:</span>

            </div>

            <div class="flex xs6 text-right">

                <code class="label-info">Tạo mới</code>
                <v-btn flat class="mx-0 my-0 px-0 py-0 btn-border-left" color="grey darken-1" v-on:click.native="detailPage = !detailPage">
                    Đi tới màn hình chi tiết
                    <v-icon>forward</v-icon>
                </v-btn>

            </div>

        </div>

        <div class="layout wrap panel">

            <div class="flex xs9">

                <v-card-text>

                    <div class="text-bold mb-2">
                        12313131
                    </div>

                    <div class="my-2">
                        <span class="text-bold">
                            12313131:
                        </span>
                        55453453453
                    </div>

                    <div class="my-2">
                        <v-icon>account_balance</v-icon>
                        55453453453
                    </div>

                    <div>
                        <v-icon>person</v-icon>
                        55453453453
                    </div>

                </v-card-text>

            </div>

            <div class="flex xs3">

                <v-card-text>

                    <div class="my-2">
                        <span class="text-bold">
                            Số tiền:
                        </span>
                        <span class="red--text text-bold">
                            80.000 VNĐ
                        </span>
                    </div>

                    <div class="my-2">
                        <span class="text-bold">
                            Ngày yêu cầu nộp phí:
                        </span>
                        55453453453
                    </div>

                    <div class="my-2">
                        <span class="text-bold">
                            Ngày xác nhận nộp phí:
                        </span>
                        55453453453
                    </div>

                </v-card-text>

            </div>

        </div>

    </div>

</template>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function (event) {

        var paymentViewJX = new VueJX({
            el: 'paymentViewJX',
            jxtemplate: 'paymentViewJX_form_template',
            pk: 1,
            groupid: 20143,
            data: {
                stateScroll: 0,
                detailPage: false,
                viewmore: false,
                showmore: false
            },
            onScroll: "onScroll",
            schema: {
                //TODO filter component
                'paymentStatusSearch': {
                    'id': 'paymentStatusSearch',
                    'name': 'paymentStatusSearch',
                    'type': 'switch',
                    'label': '',
                    'labelClass': 'xs1 hidden',
                    'controlClass': 'xs12',
                    'switch_inline': true,
                    'tabindex': 0,
                    'items': [
                        {
                            'label': 'chờ nộp',
                            'color': 'deep-purple darken-2',
                            'value': '0',
                        },
                        {
                            'label': 'báo nộp',
                            'color': 'amber darken-2',
                            'value': '1',
                        },
                        {
                            'label': 'hoàn thành',
                            'color': 'blue darken-2',
                            'value': '2',
                        },
                        {
                            'label': 'không hợp lệ',
                            'color': 'red darken-2',
                            'value': '3',
                        }
                    ],
                    'onLoad': '_initpaymentStatusSearch',
                    'onChange': 'changepaymentStatusSearch',
                    'events': {
                        _initpaymentStatusSearch: function () {

                            this.paymentStatusSearch = ['0', '1', '2', '3'];

                        },
                        changepaymentStatusSearch: function () {
                            var vm = this;
                            vm._initTreeView();
                        }
                    }
                },
                'keywordsSearch': {
                    'id': 'keywordsSearch',
                    'name': 'keywordsSearch',
                    'type': 'text',
                    'placeholder': 'Tìm kiếm theo từ khoá...',
                    'solo': true,
                    'append_icon': 'search'
                },
                // TODO List Payment declare
                'paymentList': {
                    'id': 'paymentList',
                    'name': 'paymentList',
                    'type': 'listview',
                    'template': 'activity_expand_list_template',
                    'onLoad': '_inipaymentList',
                    'events': {
                        _inipaymentList: function () {

                            this.paymentListItems = [{
                                id: 1,
                                name: 'dsfsdfsdfsdfs'
                            },
                            {
                                id: 2,
                                name: '2222222222222222'
                            }];
                        },
                        onScroll(e) {
                            var onBottom = window.pageYOffset || document.documentElement.scrollTop;
                            var vm = this;
                            if (onBottom > (200 + vm.stateScroll)) {
                                vm.stateScroll += 150;
                                vm.viewmore = true;
                                vm.showmore = true;

                                setTimeout(function () {
                                    console.log(123123);
                                    vm.viewmore = false;
                                    vm.showmore = true;
                                }, 1000);

                            }

                        }
                    }
                }

            }
        });

        paymentViewJX._builder('paymentViewJX');
    });

</script>


<style>
    .card i,
    .card__text i {
        font-size: 16px;
    }

    .border-right-1 {
        border-right: 1px solid #e1e2e1;
    }
</style>