/AnswerLocalServiceImpl.class
/ApplicantLocalServiceImpl.class
/EmployeeJobPosLocalServiceImpl.class
/EmployeeLocalServiceImpl.class
/HmacAuthenLocalServiceImpl.class
/JobPosLocalServiceImpl.class
/JobPosWorkLocalServiceImpl.class
/OfficeSiteLocalServiceImpl.class
/PreferencesLocalServiceImpl.class
/QuestionLocalServiceImpl.class
/ResourceRoleLocalServiceImpl.class
/ResourceUserLocalServiceImpl.class
/UserLoginLocalServiceImpl.class
/UserTrackPathLocalServiceImpl.class
/VisibilityLocalServiceImpl.class
/WorkingUnitLocalServiceImpl.class
