/DossierData.class
/DossierRequest.class
/DossierResponse.class
/MOData.class
/ObjectFactory.class
/ReceiveMORequestType.class
/ReceiveMOResponseType.class
/SmsSearchData.class
/SmsSearchResponse.class
/package-info.class
