<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Modern Theme</title>

	<!-- library -->
	<link rel="stylesheet" href="../../../../../../style-component/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../../../../style-component/css/kendo.common.core.min.css">
	<link rel="stylesheet" href="../../../../../../style-component/css/override-kendoui.css">
	<script src="../../../../../../style-component/js/jquery-1.11.3.js"></script>
	<script src="../../../../../../style-component/js/bootstrap.min.js"></script>
	<script src="../../../../../../style-component/js/kendo.ui.core.min.js"></script>
	<script src="../../../../../../style-component/js/jasny-bootstrap.min.js"></script>
	<script src="../../../../../../style-component/js/custom.js"></script>

	<link rel="stylesheet" href="../../../../../../style-component/css/modern_component.css">
	<link href="../../../../../../style-component/css/modern_custom.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../../../../style-component/css/custom.css">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="http://v2.opencps.vn/o/backend-theme/js/handlebars.min.js"></script>
	<script src="http://v2.opencps.vn/o/backend-theme/js/alpaca.min.js"></script>
</head>
<style type="text/css">
	body {
		font-size: 13px;
	}
</style>
<body>
	<header id="banner">
		<div class="container align-middle">
			<div class="logo align-middle">
				<a href="#">
					<img src="../../../../../../style-component/images/logo.png">
					<div class="text-logo">
						Logo, banner
						<span>Hệ thống dịch vụ công trực tuyến</span>
					</div>
				</a>
			</div>
			<div class="sub">
				<ul class="nav navbar-nav">
					<li>
					<div class="dropdown-div">
						<img src="#" alt="avata">
					</div></li>
					<li style="display: flex">
						 <div class="dropdown-div">
						  
						  <span data-toggle="dropdown">Tên người dùng<i class="caret"></i></span>
						 
						  <ul class="dropdown-menu" role="menu">
							<li><a href="#">1</a></li>
							
							<li class="divider"></li>
							<li><a href="#">2</a></li>
						  </ul>
						</div>
					</li>
					<li><button class="btn btn-default bell-icon"> <i class="fa fa-bell-o" aria-hidden="true"></i> <span>3</span> </button></li>
					<li><a href="#"><i class="fa fa-sign-out text-grey" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</header>

	<nav class="navbar navbar-default" id="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<!--<a class="navbar-brand" href="#">WebSiteName</a>-->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Quản lý hồ sơ</a></li>
					<li><a href="#">Thủ tục hành chính</a></li> 
					<li><a href="#">Thống kê số liệu</a></li>
					<li><a href="#">Đánh giá mức độ hài lòng</a></li>
				</ul>
			</div>
		</div>
	</nav>
