/ActionConfigPersistenceImpl.class
/DeliverableFinderBaseImpl.class
/DeliverableFinderImpl.class
/DeliverableLogPersistenceImpl.class
/DeliverablePersistenceImpl.class
/DeliverableTypePersistenceImpl.class
/DeliverableTypeRolePersistenceImpl.class
/DocumentTypePersistenceImpl.class
/DossierActionPersistenceImpl.class
/DossierActionSyncPersistenceImpl.class
/DossierActionUserPersistenceImpl.class
/DossierDocumentPersistenceImpl.class
/DossierFilePersistenceImpl.class
/DossierLogPersistenceImpl.class
/DossierMarkPersistenceImpl.class
/DossierPartPersistenceImpl.class
/DossierPersistenceImpl.class
/DossierRequestUDPersistenceImpl.class
/DossierStatisticPersistenceImpl.class
/DossierSyncFinderBaseImpl.class
/DossierSyncFinderImpl.class
/DossierSyncPersistenceImpl.class
/DossierTemplatePersistenceImpl.class
/DossierUserPersistenceImpl.class
/DynamicReportPersistenceImpl.class
/MenuConfigPersistenceImpl.class
/MenuRolePersistenceImpl.class
/OpencpsDossierStatisticPersistenceImpl.class
/OpencpsVotingStatisticPersistenceImpl.class
/PaymentConfigPersistenceImpl.class
/PaymentFilePersistenceImpl.class
/ProcessActionPersistenceImpl.class
/ProcessOptionPersistenceImpl.class
/ProcessPluginPersistenceImpl.class
/ProcessSequencePersistenceImpl.class
/ProcessStepPersistenceImpl.class
/ProcessStepRolePersistenceImpl.class
/PublishQueuePersistenceImpl.class
/RegistrationFormPersistenceImpl.class
/RegistrationLogPersistenceImpl.class
/RegistrationPersistenceImpl.class
/RegistrationTemplatesPersistenceImpl.class
/ServiceConfigPersistenceImpl.class
/ServiceFileTemplatePersistenceImpl.class
/ServiceInfoPersistenceImpl.class
/ServiceProcessPersistenceImpl.class
/ServiceProcessRolePersistenceImpl.class
/StepConfigFinderBaseImpl.class
/StepConfigFinderImpl.class
/StepConfigPersistenceImpl.class
/UserInfoLogPersistenceImpl.class
