/OpencpsDossierStatisticFinderBaseImpl.class
/OpencpsDossierStatisticFinderImpl.class
/OpencpsDossierStatisticPersistenceImpl.class
/OpencpsPersonStatisticFinderBaseImpl.class
/OpencpsPersonStatisticFinderImpl.class
/OpencpsPersonStatisticPersistenceImpl.class
/OpencpsVotingStatisticFinderBaseImpl.class
/OpencpsVotingStatisticFinderImpl.class
/OpencpsVotingStatisticPersistenceImpl.class
