// Variable
$main-color: #0b72ba;
$main-color-light: #14bef0;
$text-color: #2a2a2a;
$text-color-light: #939393;
$border-radius: 2px;
$border-color-dark: #333;
$border-color-light: #ddd;


$status-new: #14bff0;
$status-almost-ood: #f26522;
$status-ood: #9e0b0f;

// Functions
@function set-color-base-on-background($color) {
	@if (lightness($color) > 50) {
		@return $text-color; // Lighter backgorund, return dark color
	} @else {
		@return #fff; // Darker background, return light color
	}
}

// Mixins
@mixin transform-type($value) {
  	-webkit-transform: $value;
    transform: $value;
}
@mixin box-shadow($value) {
  	-webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin resetBgC() { //short for reset-Background-&-Color
	background-color: transparent;
	color: inherit;
}

@mixin resetBgB() { //short for reset-Background-&-Border
	background: transparent none;
	border: 0;
}



/*------------------------------
			Buttons
------------------------------*/
.btn {
	background-color: #e1e2e1;

	&:hover {
		color: $main-color-light;
	}

	&-bigger {
		padding: 9px 15px;
	}

	&-border-color {
		background-color: white;
		border-color: $main-color-light;
	}

	&-reset {
		@include resetBgB;
		color: $text-color-light;
	}

	&-classic {
		border: 1px solid $border-color-dark;
		border-radius: 0;
		background-color: white;

		&:hover, &-active {
			background-color: $main-color-light;
			border-color: $main-color-light;
			color: white;
		}
	}

	&-active {
		background-color: $main-color-light;
		color: white;

		&:hover {
			color: white;
			background-color: $main-color;
		}
	}

	&-hover {

		&:hover {
			background-color: $main-color-light;
			color: white;
		}
	}

	&-small {
		padding: 4px 10px;
	}
}

.button-row {
	
	button {
		margin-right: 10px;
	}
}



/*------------------------------
			Select
------------------------------*/
.select-wrapper {
	position: relative;

	&:before {
		content: "\f0d7";
		font-family: FontAwesome;
		position: absolute;
	    right: 15px;
	    font-size: 16px;
	    top: 50%;
	    @include transform-type(translateY(-50%));
	    pointer-events: none;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		border-color: $border-color-light;

		option {
			padding: 0 15px;
		}

		&:focus {
			border-color: $border-color-dark;
			@include box-shadow(none);
		}
	}	
}



/*------------------------------
		Checkbox + Radio
------------------------------*/

/*----- Checkbox -----*/
.checkbox, .checkbox-inline, .radio, .radio-inline {

	input {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		opacity: 0;
		z-index: 5;

		&:hover {
			cursor: pointer;
		}
	}

	label {
		font-weight: normal;
		margin: 0;
		
		&:before {
			content: "";
			width: 14px;
			height: 14px;
			background-color: white;
			position: absolute;
			top: 3px;
			left: 0;
			border: 1px solid $border-color-light;
		}
	}

	input[type="checkbox"]:checked + label:before, 
	input[type="radio"]:checked + label:before {
		border-color: $border-color-dark;
	}

	input[type="checkbox"]:checked + label:after, 
	input[type="radio"]:checked + label:after {
		content: "\f00c";
		font-family: FontAwesome;
		position: absolute;
		top: 50%;
		left: 1px;
		@include transform-type(translateY(-50%));
		font-size: 12px;
	}
}

/*----- Radio -----*/
.radio, .radio-inline {

	label {
		
		&:before {
			border-radius: 50%;
		}
	}

	input[type="radio"]:checked + label:after {
		content: "\f05d";
		left: 0;
		font-size: 16px;
	}
}



/*------------------------------
			List style
------------------------------*/
ul {
	list-style:none;
	margin: 0;
	padding: 0;
	
	&.ul-default {
		
		li {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	&.ul-with-left-icon {
		
		li {
			position: relative;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 20px !important;
			
			i.icon-left {
				position: absolute;
				top: 8px;
				left: 0px;
			}
		}
	}
	
	&.ul-with-border {
		
		li {
			padding-top: 8px;
			padding-bottom: 8px;
			border-bottom: 1px dashed $border-color-light;
			
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	&.ul-with-right-icon {

		li {
			display: -webkit-box;
			display: flex;

			> .btn-group {
				white-space: nowrap;
				margin-left: auto;

				a {
					margin-left: 10px;

					&:hover {
						color: $main-color;
					}
				}
			}
		}
	}

	&.ul-list {

		a {
			padding-left: 25px;
			display: block;
			position: relative;

			&:hover {
				color: $main-color-light;
			}

			&.active i:before {
				content: "\f07c";
			}

			i {
				color: #ff9900;
				position: absolute;
				top: 3px;
				left: 0px;
			}
		}
	}
}



/*------------------------------
			Input
------------------------------*/
.input-small {
	padding: 4px 12px;
	height: 30px;
}

/*----- Input with icon -----*/
.search-icon, .date-icon {
	position: relative;

	&:before {
		content: "\f002";
		font-family: FontAwesome;
		position: absolute;
		right: 15px;
		top: 6px;
	}
}
.date-icon:before {
	content: "\f073";
}

/*----- Placeholder -----*/
input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder {color: #ccc;}
input[type="text"]:-moz-placeholder, 
input[type="password"]:-moz-placeholder {color:#ccc; opacity: 1;}
input[type="text"]::-moz-placeholder, 
input[type="password"]::-moz-placeholder {color: #ccc; opacity: 1;}
input[type="text"]:-ms-input-placeholder, 
input[type="password"]:-ms-input-placeholder {color: #ccc;}

/*----- Input text + password -----*/
input {

	&[type="text"], &[type="password"] {
		border-color: $border-color-light;

		&:focus {
			@include box-shadow(none);
			border-color: $border-color-dark;
		}
	}
}

/*----- Input number new -----*/
.spinner {
  	
  	input {
  		text-align: right;
  	}

  	.input-group-btn-vertical {
  		position: relative;
		white-space: nowrap;
		width: 1%;
		vertical-align: middle;
		display: table-cell;

		& > .btn {
			display: block;
			width: 100%;
			max-width: 100%;
			padding: 8px;
			margin-left: -1px;
			position: relative;
			border-radius: 0;
			background-color: white;

			&:focus {
				@include box-shadow(none);
				outline: none;
			}
		}

		& > .btn:first-child {
			border-top-right-radius: 4px;
		}

		& > .btn:last-child {
			margin-top: -2px;
			border-bottom-right-radius: 4px;
		}

		i {
			position: absolute;
			top: 0;
			left: 4px;
		}
  	}
}



/*------------------------------
			Text
------------------------------*/
.text-light-blue {
	color: $main-color-light;
}
.text-blue {
	color: $main-color;
}
.text-light-gray {
	color: $text-color-light;
}
.text-orange {
	color: orange;
}
.text-underline {
	border-bottom: 1px solid currentColor;
	display: inline-block;
}
.text-link {
	color: $main-color-light;

	&:hover {
		color: $main-color;
	}
}

.number-in-circle {
	background-color: $main-color-light;
	border-radius: 50%;
	display: inline-block;
    font-size: 12px;
    color: white;
    min-width: 17px;
    text-align: center;
    padding: 1px 6px;
}



/*------------------------------
			Collapse
------------------------------*/
.accordion {

	.accordion-heading {
		background-color: #aad0de;
		border-bottom: 1px solid #666;
		text-transform: uppercase;
		padding: 6px 15px;
		font-family: 'Roboto-Bold';
		position: relative;

		a {
			display: block;

			&:before {
				content: "\f077";
				font-family: FontAwesome;
				position: absolute;
				right: 15px;
    			top: 6px;
			}

			&.collapsed:before {
				content: "\f078";
			}
		}
	}

	.accordion-inner {
		padding: 8px 0;

		> .accordion {
			margin: -8px 0;
		}

		.accordion-heading {
			background-color: #dbebf0;
			border-bottom: 1px solid #aad0de;
			text-transform: none;
		}

		.accordion-inner {
			padding: 8px 0;
		}

		a:hover {
			color: $main-color-light;
		}
	}
}



/*------------------------------
			Other
------------------------------*/
.row-header {
	background-color: #e1e2e1;

	.group-icons {
		margin-left: auto;
		border-left: 2px solid white;
		padding: 10px 15px;
		color: $text-color-light;

		a {
			white-space: nowrap;

			&:hover {
				color: $text-color;
			}

			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}
}

.background-triangle-small, .background-triangle-big {
	background-color: $main-color;
	display: inline-block;
	padding: 3px;
	font-size: 13px;
	width: 25px;
	text-align: right;
	color: white;
	position: relative;
	margin-right: 20px;
	text-transform: uppercase;

	&:before {
		content: "";
		position: absolute;
		top: 1px;
		right: -2px;
		@include transform-type(rotate(45deg));
		border-top: 17px solid $main-color;
		border-left: 17px solid transparent;
		border-bottom: 17px solid transparent;
	}
}

.background-triangle-big {
	padding: 10px 5px 10px 15px;
	font-size: 14px;
	width: auto;
	margin-right: 30px;

	&:before {
		top: 2px;
		right: -4px;
		border-top: 28px solid $main-color;
		border-left: 28px solid transparent;
		border-bottom: 28px solid transparent;
	}
}

.row-blue {
	background-color: #dbebf0;
	padding-right: 15px;
	font-family: 'Roboto-Bold';

	.order-number {
		padding: 7px 10px;
		background-color: #aad0de;
		color: white;
	}

	.dossier-number {
		margin: 0 60px 0 15px;
	}
}

.box {
	border: 1px solid $border-color-light;
	background-color: white;
}




/*------------------------------
		Responsive
------------------------------*/
@media (max-width: 767px) {
	.row-header {

		.background-triangle-big + span {
			display: block;
			margin: 10px;
		}

		.group-icons {
			border-top: 2px solid white;
			border-left: 0;
			float: none !important;
			margin: 0;
		}
	}

	.background-triangle-small ~ .text-light-gray {
		display: block;
		margin: 10px 10px 0 !important;
	}
}