.k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header, .k-dialog .k-window-content, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.k-panelbar .k-tabstrip > .k-content, 
.k-tabstrip > .k-content {
    padding: 15px;
}
.k-autocomplete, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-listbox, .k-numerictextbox, .k-selectbox, .k-textbox, .k-timepicker, .k-toolbar .k-split-button {
    width: 100%;
}
html .k-block, html .k-draghandle, html .k-inline-block, html .k-widget {
    border-width: 0;
}

/*----- Tabstrip -----*/
.k-tabstrip-left > .k-content {
    padding-top: 0;
}
.k-tabstrip-wrapper {
	max-width: 1366px;
}
.k-tabstrip-left > .k-tabstrip-items {
	padding: 0;
	min-width: 200px;
	margin-right: 15px;
}
.k-tabstrip-left > .k-tabstrip-items .k-item, 
body .k-header, 
.k-tabstrip-items .k-loading.k-complete {
	border: 0;
}
.k-tabstrip-left > .k-tabstrip-items .k-item {
	padding: 5px 0;
	position: relative;
}
.k-tabstrip-left > .k-tabstrip-items .k-item i {
    color: #999;
}
.k-tabstrip-left > .k-tabstrip-items .k-state-active {
    font-family: 'Roboto-Bold';
}
.k-tabstrip-left > .k-tabstrip-items .k-state-active i {
    color: #0d2434;
}
.k-tabstrip-left > .k-tabstrip-items .k-state-active:before {
    content: "\f00c";
    font-family: FontAwesome;
    float: right;
    margin-top: 3px;
    position: absolute;
    right: 10px;
}
.k-tabstrip-left > div.k-content {
	margin: 0;
	border: 0;
	position: relative;
}
.k-tabstrip-left > div.k-content .k-listview > li:hover, 
.k-tabstrip-left > .k-tabstrip-items .k-item:hover {
    cursor: pointer;
}
body .k-tabstrip-items .k-item, 
.k-tabstrip .k-content.k-state-active, 
body .k-header {
	background-color: transparent;
}
.k-tabstrip-left > div.k-content .k-listview .btn-block {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body .k-tabstrip .k-content {
	transition-duration: 300ms !important;
}
body .k-tabstrip .k-content:after {
    content: "";
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}
body .k-tabstrip .k-content.k-state-active:after {
    background-color: transparent;
}
.k-select .k-icon {
    color: #0d2434;
}
.product-view {
    width: 8.33333%;
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 16px;
}
.product-view .fa-pencil {
    opacity: 0.6;
}
.product-view .fa-pencil:hover {
    opacity: 1;
}
.product-view .k-delete-button {
    margin-top: 3px;
    display: block;
}
.k-state-selected .col-sm-1 + .product-view {
    top: 40px;
}
html .k-loading-mask {
    pointer-events: none !important;
}
ul.ul-with-border-style-2 li.k-state-selected span.col-sm-1:after {
   content: "\f00c";
   font-family: FontAwesome;
   position: absolute;
   left: 0;
   top: 3px;
}



/*----- Pagination -----*/
.k-pager-wrap {
    display: -webkit-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 5px;
}
html .k-pager-numbers .k-state-selected {
    background-color: #dbebf0;
    border-radius: 0;
    margin: 0;
    border: 0;
}
html .k-pager-wrap > .k-link {
    border-radius: 0;
    margin: 0;
    margin-right: -1px;
    border-color: #ddd;
}
html .k-pager-numbers {
    margin: 0;
}
html .k-pager-wrap .k-icon {
    vertical-align: text-top;
}
html .k-pager-wrap .k-link:hover, 
html .k-pager-wrap .k-icon:hover {
    cursor: pointer !important;
    background-color: #eee;
}
html .k-pager-wrap .k-textbox {
    height: 25px;
    margin-top: -3px;
    border: 0;
    padding: 0;
    width: 25px;
    margin-right: 1px;
    background-color: transparent;
}
html .k-pager-wrap .k-textbox.k-state-disabled {
    color: #ccc;
}
html .k-pager-wrap .k-textbox.k-state-disabled:hover {
    cursor: not-allowed !important;
}
html .k-pager-input {
    border: 1px solid #ddd;
    border-right: 0;
    padding-left: 0;
    line-height: 25px;
    padding-right: 10px;
}
.k-pager-info {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

/* Style 2 */
.full-width-pager {
    position: relative;
}
.full-width-pager .k-link {
    border-radius: 0;
    margin-right: -1px;
    border-color: #ddd;
    line-height: 26px;
}
.full-width-pager .k-pager-sizes .k-widget.k-dropdown {
    margin-top: -5px;
}
.full-width-pager .k-pager-sizes .k-widget.k-dropdown .k-input {
    padding: 0;
}
.full-width-pager .k-dropdown-wrap {
    height: 26px;
}
.full-width-pager .k-pager-info {
    display: inline-block;
    width: auto;
    line-height: 22px;
    position: absolute;
    right: 0;
}



/*----- Input + Select -----*/
.k-animation-container .k-calendar-container, 
.k-animation-container .k-list-container {
    background-color: white;
    border-radius: 4px;
}

body .k-dropdown-wrap, body .k-picker-wrap {
    border-color: #ddd;
}
body .k-dropdown-wrap input, body .k-picker-wrap input {
    box-shadow: none;
}
body .k-dropdown-wrap .k-select, body .k-picker-wrap .k-select {
    background-color: white;
    border-left: 0;
    border-radius: 0 4px 4px 0;
}
.k-picker-wrap .k-input {
    height: 30px;
}

.accordion .k-combobox {
    margin: 3px 0;
}



/*----- Icons -----*/

/* Icon Calendar */
.k-icon.k-i-calendar {
	width: 2em;
	height: 1em;
}
.k-icon.k-i-calendar:before {
	content: "\f073";
	font-family: FontAwesome;
	right: 10px;
}