/* Toggle Styles */
 #main-content {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
#sidebar-left, 
#sidebar-right {
    width: 230px;
    position: relative;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    float: left;
}
#menu-toggle-left {
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #f6f6f6;
    text-align: center;
    width: 100%;
}
.toggled-left #menu-toggle-left {
    border-right: 0;
}
#menu-toggle-right {
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #f6f6f6;
    text-align: center;
    width: 100%;
}
#sidebar-left > button:focus, 
#sidebar-right > button:focus {
    outline: none;
}
#page-content {
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: calc(100% - 460px);
    float: left;
    position: relative;
}

.toggled-left #page-content {
    width: calc(100% - 275px);
}
/*.toggled-left #sidebar-left:hover ~ #page-content {
    width: calc(100% - 460px);
}*/
.toggled-right #page-content {
    width: calc(100% - 275px);
}
/*.toggled-right #sidebar-right:hover ~ #page-content {
    width: calc(100% - 460px);
}*/
.toggled-left.toggled-right #page-content {
    width: calc(100% - 90px);
}
/*.toggled-left.toggled-right #sidebar-left:hover ~ #page-content, 
.toggled-left.toggled-right #sidebar-right:hover ~ #page-content {
    width: calc(100% - 275px);
}*/
.toggled-left #sidebar-left ul ul, 
.toggled-right #sidebar-right ul ul {
    display: none !important;
}



/* Sidebar Styles */
.sidebar-nav li a {
    padding: 7px 15px 7px 45px;
    display: block;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.sidebar-nav > li:last-child > a {
    border-bottom: 0;
}
.sidebar-nav li a i {
    position: absolute;
    top: 9px;
    left: 15px;
}
.sidebar-nav li a:hover {
    color: #337ab7;
}


    /*#main-content.toggled-left #sidebar-left:hover, 
    #main-content.toggled-right #sidebar-right:hover {
        width: 230px;
    }*/
    #main-content.toggled-left #sidebar-left {
        width: 45px;
        border-right: 1px solid #ddd;
    }
    #main-content.toggled-right #sidebar-right {
        width: 45px;
    }


