// Variable
$main-color: #0b72ba;
$main-color-light: #14bef0;
$text-color: #2a2a2a;
$text-color-light: #939393;
$border-radius: 2px;
$border-color: #ddd;

$status-new: #14bff0;
$status-almost-ood: #f26522;
$status-ood: #9e0b0f;

// Functions
@function set-color-base-on-background($color) {
	@if (lightness($color) > 50) {
		@return $text-color; // Lighter backgorund, return dark color
	} @else {
		@return #fff; // Darker background, return light color
	}
}

// Mixins
@mixin transform-type($value) {
  	-webkit-transform: $value;
    transform: $value;
}
@mixin box-shadow($value) {
  	-webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin resetBgC() { //short for reset-Background-&-Color
	background-color: transparent;
	color: inherit;
}

@mixin resetBgB() { //short for reset-Background-&-Border
	background: transparent none;
	border: 0;
}



/*----- Buttons -----*/
.btn {
	border-radius: $border-radius;
	border-color: $border-color;

	&-round {
		border-radius: 20px;
	}

	&-link {
		border: 0;
		color: $main-color-light;
		padding: 0;

		&:hover {
			font-family: 'Roboto-Bold';
			color: $main-color;
		}
	}

	&-outline {
		background-color: white;
		border-radius: 0;
		border: 1px solid $text-color-light;
		color: $text-color-light;

		&-active {
			background-color: white;
			border: 1px solid $text-color;
			color: $text-color;
			border-radius: 0;
		}

		&-primary {
			background-color: white;
			border-color: $main-color;
			color: $main-color;

			&:hover {
				background-color: $main-color;
				color: white;
			}
		}

		&-success {
			background-color: white;
			border-color: #398439;
			color: #398439;

			&:hover {
				background-color: #398439;
				color: white;
			}
		}

		&-warning {
			background-color: white;
			border-color: #ec971f;
			color: #ec971f;

			&:hover {
				background-color: #ec971f;
				color: white;
			}
		}

		&-info {
			background-color: white;
			border-color: #269abc;
			color: #269abc;

			&:hover {
				background-color: #269abc;
				color: white;
			}
		}

		&-danger {
			background-color: white;
			border-color: #ac2925;
			color: #ac2925;

			&:hover {
				background-color: #ac2925;
				color: white;
			}
		}
	}
}



/*----- Label -----*/
label {
	font-weight: normal;
	font-family: 'Roboto-Bold';
}



/*----- Inputs -----*/
.form-control {
	border-color: $border-color;
	border-radius: $border-radius;
	@include box-shadow(none);

	+ .-group-addon {
		background-color: $main-color;
		border-color: $main-color;
		color: set-color-base-on-background($main-color);
	}

	&:focus {
		border-color: $main-color-light;
	}
}



/*----- Label group addon - Editable -----*/
.label-control {
	position: relative;

	[class*="col-"] {
		padding: 0;
	}

	.editable-container {
		position: absolute;
		top: -4px;
		width: 100%;

		.form-group {
			display: block;

			input, textarea {
				width: 100%;
				padding-right: 68px !important;
			}
		}

		.editable-buttons {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 5;
		}
	}

	& > a:last-child {
		position: absolute;
		top: 0;
		right: 0;
	}

	a.editable {
		position: relative;
	}
}



/*----- Pagination -----*/
%extend_pagination {
	background-color: $main-color;
	border-color: $main-color;
	color: set-color-base-on-background($main-color);
}

.pagination {

	li {

		a {
			color: $text-color;
		}

		&.active a {
			@extend %extend_pagination;

			&:hover {
				@extend %extend_pagination;
			}
		}

		&:hover a {
			@extend %extend_pagination;
		}
	}

	&:hover li.active a {
		background-color: transparent;
		border-color: $main-color;
		color: $main-color;

		&:hover {
			@extend %extend_pagination;
		}
	}
}



/*----- Panel -----*/
.panel {
	border-color: $border-color;
	border-radius: $border-radius;
	margin: 0;

	.panel-heading {
		@include resetBgC;
		border-bottom: 2px solid $border-color;
		position: relative;

		a {

			&:before {
				content: "\f077";
				font-family: FontAwesome;
				position: absolute;
				top: 8px;
				right: 15px;
			}
			
			&.collapsed:before {
				content: "\f078";
				font-family: FontAwesome;
				position: absolute;
				top: 8px;
				right: 15px;
			}
		}
	}

	.panel-group & {

		.panel-heading {
			border: 0;
		}
		
		+ .panel {
			margin-top: 0;
			border-top: 0;
			border-radius: 0;
		}

		&:first-child {
			border-radius: 2px 2px 0 0;
		}

		&:last-child {
			border-radius: 0 0 2px 2px;
		}
	}
}



/*----- Select -----*/

/* Normal */
.select-wrapper {
	position: relative;

	&:before {
		content: "\f0d7";
		font-family: FontAwesome;
		position: absolute;
	    right: 15px;
	    font-size: 16px;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	    pointer-events: none;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;	

		option {
			padding: 0 12px;
		}	
	}	
}

/* Chosen style */
.chosen-wrap {

	&.input-group {
		display: block;

		.chosen-container {
			display: block;
			width: 100% !important;
			border: 1px solid #ebebeb;

			a {
				background: none;
				border: 0;
				line-height: 30px;
				box-shadow: none;

				div {
					margin: 5px;
				}
			}

			&.chosen-with-drop {
				border-color: $main-color;
			}
		}

		.chosen-container-multi {

			.chosen-choices {
				border: 0;

				.search-choice {
					background: #f6f6f6;
					border: 1px solid #ededed;
					border-radius: 2px;
					box-shadow: none;
					color: #333333;
					cursor: default;
					line-height: 13px;
					margin: 3px 0 3px 5px;
					padding: 3px 20px 3px 5px;
					position: relative;
				}
			}
		}
	}
}



/*----- Table -----*/
.fake-table {

	&-th {
		padding: 5px 0;
		font-family: 'Roboto-Bold';
		border-bottom: 2px solid $border-color;
	}

	&-td {
		padding: 5px 0;
		border-bottom: 1px solid $border-color;

		> div {
			margin-bottom: 5px;
		}

		label {
			margin: 0;
		}
	}
}



/*----- List-style -----*/
ul {
	list-style:none;
	margin: 0;
	padding: 0;
	
	&.ul-default {
		
		li {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	&.ul-with-left-icon {
		
		li {
			position: relative;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 20px !important;
			
			i.icon-left {
				position: absolute;
				top: 10px;
				left: 0px;
			}
		}
	}
	
	&.ul-with-border {
		
		li {
			padding-top: 8px;
			padding-bottom: 8px;
			border-bottom: 1px dashed $border-color;
			
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	&.ul-with-right-icon {

		li {
			display: -webkit-box;
			display: flex;

			> .btn-group {
				white-space: nowrap;
				margin-left: auto;

				a {
					margin-left: 10px;

					&:hover {
						color: $main-color;
					}
				}
			}
		}
	}

	&.ul-toggle {
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
		overflow: hidden;

		li {
			position: relative;
			padding-left: 20px;

			input {
				opacity: 0;
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    margin: 0;
			    top: 0;
			    left: 0;

			    &:checked + span {
			    	color: $main-color;

			    	&:after {
						content: "\f00c";
						font-family: FontAwesome;
						position: absolute;
						left: 0;
						top: 5px;
			    	}
			    }
			}
		}

		&.up {
			max-height: 0;
		}

		&.down {
			max-height: 500px;
		}
	}

	&.tag-list {
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
		overflow: hidden;
		display: -webkit-box;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		overflow: inherit;

		li {
			position: relative;
			padding-left: 0;
			margin: 5px 5px 5px 0;

			input {
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				top: 0;
				left: 0;

				&:checked + span {
					color: $text-color;
					font-family: 'Roboto-Bold';
					padding-left: 25px;

					&:after {
						content: "\f00c";
						font-family: FontAwesome;
						position: absolute;
						left: 10px;
					}
				}
			}

			span {
				padding: 1px 12px 3px 12px;
				border: 1px solid #ccc;
				border-radius: 10px;
			}
		}
	}
}



/*----- Text, Background, Status Colors -----*/

/* Text */
.text-maincolor {
	color: $main-color;
}
.text-maincolor-light {
	color: $main-color-light;
}
.text-grey {
	color: $text-color-light;
}

/* Status */
.new {
	color: $status-new;
}
.near-deadline {
	color: $status-almost-ood;
}
.out-of-date {
	color: $status-ood;
}

/* Background */
.bg-light-blue {
	background-color: #eef8fa;
}



/*----- Title -----*/
.title {

	.title-number {
		display: inline-block;
	    background-color: $main-color;
	    color: white;
	    padding-right: 5px;
	    margin-right: 15px;
	    position: relative;
	    text-align: right;
	    width: 25px;

	    &:before {
	    	    content: "";
			    position: absolute;
			    top: 0px;
			    left: 100%;
			    width: 0;
			    height: 0;
			    border-top: 10px solid transparent;
			    border-left: 10px solid #0b72ba;
			    border-bottom: 10px solid transparent;
	    }

	    + div {
	    	display: inline-block;
	    	font-family: 'Roboto-Bold';
	    }
	}
}










@media (max-width: 767px) {

	.fake-table {

		&-td {

			&.first {
				border-top: 1px solid $border-color;
			}
		}
	}

}