@charset "utf-8";
/* CSS Document */
xmp{
	font-weight: bold;
}
.blue{
	color:  #1cbeef;
}
.btn-blue{
	background-color: #1cbeef;
	color: white;
}
.btn-classic{
	border: 1px solid black;
	color: black;
	background-color: white;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	border-radius: 0;
}
.btn-classic-active{
	border: 1px solid black;
	color: black;
	background-color: white;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.btn-classic-active:hover{
	border: 1px solid #1cbeef;
	color: white;
	background-color: #1cbeef;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.disabled{
	border-color: gray;
}
.arrow-right {
    float: left;
    width: 0px;
    height: 0px;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 16px solid #1cbeef;
}
.arrow-left {
    float: left;
    width: 0px;
    height: 0px;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-right: 16px solid #1cbeef;
}
.triangle-right{
    margin-left: -10px;
    float: left;
    width: 0px;
    height: 0px;
    border-bottom: 16px solid #1cbeef;
    border-top: 16px solid #1cbeef;
	border-left: 16px solid transparent;
}
.input-group-addon{
	background-color: transparent;
}
.icon-calendar{
	color: grey
}
.icon-search{
	color: #999999;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.clickable{
    cursor: pointer;   
}
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.panel-main{
	margin-bottom: 0;	
}
.panel-heading{
	background-color: #a0d2db;
}
#int-search{
    border: 2px solid;
    border-radius: 5px;
}
#input-group-addon {
    border: none;
}
.table-mod th{
	border-right: 2px solid #ddd;
	background-color: #e9f6f6;
}
.table-mod th:hover{
	background-color:#ddd;
}
.bell-icon{
	background-color: #eaeaeb;
	border-radius: 20px;
	margin-top: 5px;
}
.bell-icon span{
	color: #9d0b0f;
	font-weight: bold;
}
.panel-primary{
	border-color: gray;
}
.panel-primary > .panel-heading{
	background-color: gray;
	border-color: gray;
}
.list-group a{
	color: black;
	font-weight: bold;
}
.list-group a:hover{
	color: #1cbeef;
	font-weight: bold;
	
}
.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}