@import url(font-awesome.min.css);
@import url(support-class.css);
@import url(style-home.css);

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #2a2a2a;
	overflow-x: hidden;
	background-color: #f6f6f6;
	min-width: 1200px;
	font-size: 14px;
}
body a, body a:hover, body a:focus {
	color: inherit;
	text-decoration: none;
}
body ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1200px;
}
.text-center {
	text-align: center;
}


/*----- Header -----*/
#banner {
	background: url("../images/bg-banner.jpg") center center no-repeat;
	padding: 10px 0;
	background-size: auto 100%;
}
#banner .logo {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
#banner img {
	margin-right: 15px;
	float: left;
}
#banner .logo .text-logo {
	margin-top: 5px;
	color: #00204a;
	white-space: nowrap;
    line-height: 30px;
    font-size: 20px;
}
#banner .logo span {
	font-size: 20px;
	color: #005792;
	display: block;
}

#banner .logo + div {
	margin-left: auto;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ .visible-xs {
	display: none;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 400px;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg > .row {
	width: 100%;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(2) .col-sm-6 {
	width: 50%;
	float: left;
	padding: 0 3px;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(2) > div {
	position: relative;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(2) > div:before {
	content: "";
	font-family: FontAwesome;
	position: absolute;
	top: 7px;
	left: 15px;
	font-size: 14px;
	color: #005692;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(2) > div:first-child:before {
	content: "\f007";
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(2) > div:last-child:before {
	content: "\f023";
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(2) > div:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 60%;
	top: 20%;
	left: 33px;
	background-color: #e1e1e1;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg input {
	height: 26px;
    border-radius: 30px;
    padding: 0 0 0 37px;
    width: 100%;
    border: 1px solid #005792;
    font-size: 12px;
    background: #fff;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg input:focus {
	outline: none;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(3) .col-sm-6:first-child {
	display: none;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .row:nth-child(3) .col-sm-6:last-child {
	float: right;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg .btn {
	margin: 8px 10px 0 0 !important;
    color: white;
    background-color: #0072bc;
    text-transform: none;
    font-size: 12px;
    height: 26px;
    min-width: inherit;
    padding: 5px 10px !important;
    border: 0;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg a.btn {
	background-color: #fdb44b;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg a.btn:hover {
	background-color: #0072bc;
}
#banner .portlet-boundary_FrontendWebPortal_LoginPortlet_ form.eq-height-lg button.btn:hover {
	background-color: #00204a;
}

#banner .account-section {
	margin-left: auto;
}
#banner .account-section .notification-alert {
	background-color: #eee;
	padding: 3px 10px;
	border-radius: 20px;
	margin-right: 20px;
	display: none;
}
#banner .account-section .notification-alert span {
	font-family: 'Roboto-Bold';
	color: #790000;
}
#banner .account-section .btn-reset {
	border: 0;
	background-color: transparent;
}
#banner .account-section .btn-reset:hover {
	color: #14bef0;
}
#banner .account-section .btn-reset:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#banner .account-section .dropdown {
	position: relative;
}
#banner .account-section .dropdown-menu {
	left: auto !important;
	right: 0;
	position: absolute;
	width: 180px;
    background-color: white;
    padding: 10px;
    border: 1px solid #e1e1e1;
	display: none;
	border-radius: 4px;
	margin-top: 15px;
}
#banner .account-section .dropdown.open .dropdown-menu {
    display: block;
}
#banner .account-section .dropdown-menu.show {
	display: block;
}
#banner .account-section .dropdown-menu i {
	color: #939393;
}
#banner .account-section .dropdown-menu a {
	display: block;
	padding: 3px 0;
}
#banner .account-section .dropdown-menu a:hover {
	background-color: transparent;
	color: #790000;
}
#banner .account-section .dropdown-menu a:hover i {
	color: #790000;
}
#banner .account-section img {
	width: 40px;
	height: 40px;
	margin: 0 5px 0 0;
}



/*----- Footer -----*/
#footer {
	color: white;
	margin-top: 20px;
	background: #071d30 ;
	background: url("../images/bg-footer.png") center center no-repeat;
	background-size: auto 100%;
}
#footer .container {
	padding: 15px;
	overflow: hidden;
}
#footer .container > div {
	float: left;
	width: 50%;
}
#footer .site-name {
	text-transform: uppercase;
}
#footer .site-name span {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}
#footer .contact p {
	margin-bottom: 0;
}
#footer .contact p i {
	width: 14px;
	margin-right: 5px;
	text-align: center;
}
#footer .right {
	text-align: right;
}
#footer .right p {
	margin-top: 5px;
	color: #00bbf0;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
#footer .right p img {
	margin-right: 5px;
}



/*----- Navbar -----*/
#navigation {
	background-color: #00204a;
	border: 0;
    border-radius: 0;
	margin-bottom: 0;
	min-height: inherit;
}
#navigation ul li {
	float: left;
}
#navigation ul li a {
	color: white;
	display: block;
	line-height: 45px;
	white-space: nowrap;
    position: relative;
    padding: 0 25px;
	position: relative;
}
#navigation ul li a:focus {
	outline: none;
}
#navigation ul li.active a, #navigation ul li:hover a {
	color: white;
	font-weight: bold;
}
#navigation ul li.active a:before, #navigation ul li:hover a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #fdb44b;
}



/*----- Other -----*/
body section#main-content {
	padding: 10px 0 0 0;
	min-height: -webkit-calc(100vh - 304px);
	min-height: calc(100vh - 304px);
}
body .portlet .portlet-content {
	border: 0;
	background-color: transparent;
	padding: 0;
}
body .portlet-title-text {
	display: none;
}
body .control-menu + div {
	margin-top: 73px;
}

body .navigation-drawer--fixed {
    position: absolute;
}


.dialog.dialog--active {
	overflow: hidden;
}
body .tabs__items {
    overflow: inherit;
}
body .datepicker-header {
    display: none;
}
body .datepicker {
    box-shadow: 0 2px 1px 0px rgba(0,0,0,.2), 0 1px 20px 0 rgba(0,0,0,.14), 0 1px 20px 0 rgba(0,0,0,.12) !important;
}
body .datepicker .datetimepicker-container {
    border-radius: 4px;
}
body .timepicker-container .time-container .time-label {
	background: #0d71bb;
    color: #fff !important;
    font-weight: bold;
}
#banner .container {
  padding: 0 15px;
}
body .account-section button.btn {
	box-shadow: none;
}

.portlet-body #root img {
	margin-right: 0;
}

.user-profile-menu-react > div[class*='MuiPopover-paper'] {
    top: 5px !important;
    right: 0 !important;
    left: unset !important;
    position: absolute !important;
}

.user-profile-menu-react > div > ul {
	padding: 0 !important;
}
.user-profile-menu-react > div > ul > li {
    border-bottom: 1px dashed #adabab !important;
    padding: 5px 10px !important;
    font-size: 13px !important;
}

.user-profile-menu-react > div > ul > li:last-child {
	border: none !important;	
}

#menu-collapse ul.child-menu {
	    display: none;
}

#footer .align-middle>a {
    padding: 0 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

 .alert-danger.liferayalert svg,
 .alert-success.liferayalert {
	display: none;
}

.alert-danger.liferayalert > div.yui3-widget-bd {
	    width: auto;
    max-width: 450px;
    padding: 15px;
    border: 1px solid #ad2424;
    border-radius: 5px;
    background: #ad242494;
    position: absolute;
    top: 0;
    color: whitesmoke;
    left: 15px;
}

body .lfr-alert-container {
	    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    width: auto;
    z-index: 0;
    min-width: 450px;
    pointer-events: none;
}
body .alert-danger.liferayalert, .portlet-msg-error.liferayalert {
	    width: 0;
    padding: 0;
}

body > div.mWrapper + iframe {
	display: none !important;
}