/ActionConfigLocalServiceBaseImpl.class
/CPSDossierBusinessLocalServiceBaseImpl.class
/DeliverableLocalServiceBaseImpl.class
/DeliverableLogLocalServiceBaseImpl.class
/DeliverableTypeLocalServiceBaseImpl.class
/DeliverableTypeRoleLocalServiceBaseImpl.class
/DocumentTypeLocalServiceBaseImpl.class
/DossierActionLocalServiceBaseImpl.class
/DossierActionSyncLocalServiceBaseImpl.class
/DossierActionUserLocalServiceBaseImpl.class
/DossierDocumentLocalServiceBaseImpl.class
/DossierFileLocalServiceBaseImpl.class
/DossierLocalServiceBaseImpl.class
/DossierLogLocalServiceBaseImpl.class
/DossierMarkLocalServiceBaseImpl.class
/DossierPartLocalServiceBaseImpl.class
/DossierRequestUDLocalServiceBaseImpl.class
/DossierStatisticLocalServiceBaseImpl.class
/DossierSyncLocalServiceBaseImpl.class
/DossierTemplateLocalServiceBaseImpl.class
/DossierUserLocalServiceBaseImpl.class
/DynamicReportLocalServiceBaseImpl.class
/MenuConfigLocalServiceBaseImpl.class
/MenuRoleLocalServiceBaseImpl.class
/OpencpsDossierStatisticLocalServiceBaseImpl.class
/OpencpsVotingStatisticLocalServiceBaseImpl.class
/PaymentConfigLocalServiceBaseImpl.class
/PaymentFileLocalServiceBaseImpl.class
/ProcessActionLocalServiceBaseImpl.class
/ProcessOptionLocalServiceBaseImpl.class
/ProcessPluginLocalServiceBaseImpl.class
/ProcessSequenceLocalServiceBaseImpl.class
/ProcessStepLocalServiceBaseImpl.class
/ProcessStepRoleLocalServiceBaseImpl.class
/PublishQueueLocalServiceBaseImpl.class
/RegistrationFormLocalServiceBaseImpl.class
/RegistrationLocalServiceBaseImpl.class
/RegistrationLogLocalServiceBaseImpl.class
/RegistrationTemplatesLocalServiceBaseImpl.class
/ServiceConfigLocalServiceBaseImpl.class
/ServiceFileTemplateLocalServiceBaseImpl.class
/ServiceInfoLocalServiceBaseImpl.class
/ServiceProcessLocalServiceBaseImpl.class
/ServiceProcessRoleLocalServiceBaseImpl.class
/StepConfigLocalServiceBaseImpl.class
/UserInfoLogLocalServiceBaseImpl.class
