/ActionConfigLocalServiceImpl.class
/CPSDossierBusinessLocalServiceImpl.class
/DeliverableLocalServiceImpl.class
/DeliverableLogLocalServiceImpl.class
/DeliverableTypeLocalServiceImpl$ModelKeys.class
/DeliverableTypeLocalServiceImpl.class
/DeliverableTypeRoleLocalServiceImpl$ModelKeys.class
/DeliverableTypeRoleLocalServiceImpl.class
/DocumentTypeLocalServiceImpl.class
/DossierActionLocalServiceImpl.class
/DossierActionSyncLocalServiceImpl.class
/DossierActionUserLocalServiceImpl.class
/DossierDocumentLocalServiceImpl.class
/DossierFileLocalServiceImpl.class
/DossierLocalServiceImpl.class
/DossierLogLocalServiceImpl.class
/DossierMarkLocalServiceImpl.class
/DossierPartLocalServiceImpl.class
/DossierRequestUDLocalServiceImpl.class
/DossierStatisticLocalServiceImpl.class
/DossierSyncLocalServiceImpl.class
/DossierTemplateLocalServiceImpl.class
/DossierUserLocalServiceImpl.class
/DynamicReportLocalServiceImpl.class
/MenuConfigLocalServiceImpl.class
/MenuRoleLocalServiceImpl.class
/OpencpsDossierStatisticLocalServiceImpl.class
/OpencpsVotingStatisticLocalServiceImpl.class
/PaymentConfigLocalServiceImpl.class
/PaymentFileLocalServiceImpl.class
/ProcessActionLocalServiceImpl.class
/ProcessOptionLocalServiceImpl.class
/ProcessPluginLocalServiceImpl.class
/ProcessSequenceLocalServiceImpl.class
/ProcessStepLocalServiceImpl.class
/ProcessStepRoleLocalServiceImpl.class
/PublishQueueLocalServiceImpl.class
/RegistrationFormLocalServiceImpl.class
/RegistrationLocalServiceImpl.class
/RegistrationLogLocalServiceImpl.class
/RegistrationTemplatesLocalServiceImpl.class
/ServiceConfigLocalServiceImpl.class
/ServiceFileTemplateLocalServiceImpl.class
/ServiceInfoLocalServiceImpl.class
/ServiceProcessLocalServiceImpl.class
/ServiceProcessRoleLocalServiceImpl.class
/StepConfigLocalServiceImpl.class
/UserInfoLogLocalServiceImpl.class
