/*----- Support -----*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial,sans-serif;
	color: #2a2a2a;
	overflow-x: hidden;
}
body a, body a:hover, body a:focus {
	color: inherit;
	text-decoration: none;
}
body ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



/*----- Header -----*/
#banner {
	background: url("../images/bg-header.png") center center no-repeat;
	padding: 30px 0;
	background-size: cover;
}

#banner .logo {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
#banner .logo > a {
	display: block;
}
#banner img {
	margin-right: 15px;
	float: left;
}
#banner .logo .text-logo {
	margin-top: 5px;
	color: #f26522;
	white-space: nowrap;
	text-shadow: -1px -1px 0 white, 
	             1px -1px 0 white, 
	             -1px 1px 0 white,  
	             1px 1px 0 white;
	text-align: center;
    font-weight: bold;
    font-size: 18px;
	
}
#banner .logo span {
	font-size: 24px;
	color: #0054a6;
	display: block;
	margin-top: 10px;
}

#banner .account-section {
	margin-left: auto;
}
#banner .account-section .notification-alert {
	background-color: #eee;
	padding: 3px 10px;
	border-radius: 20px;
	margin-right: 20px;
}
#banner .account-section .notification-alert span {
	font-family: 'Roboto-Bold';
	color: #790000;
}
#banner .account-section .btn-reset {
	color: #2a2a2a;
}
#banner .account-section .btn-reset:hover {
	color: #14bef0;
}
#banner .account-section .btn-reset:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#banner .account-section .dropdown-menu {
	left: auto;
	right: 0;
}
#banner .account-section .dropdown-menu i {
	color: #939393;
}
#banner .account-section .dropdown-menu a:hover {
	background-color: transparent;
	color: #790000;
}
#banner .account-section .dropdown-menu a:hover i {
	color: #790000;
}
#banner .account-section img {
	width: 40px;
	height: 40px;
	margin: 0 5px 0 0;
}
#banner .account-section .dropdown button {
	color: white;
}
#banner .account-section .dropdown-menu {
	margin-top: 15px;
}



/*----- Footer -----*/
.mBody footer {
	color: white;
	margin-top: 20px;
	background: #071d30 ;
	background: url("../images/bg-footer.png") center center repeat-y;
	background-size: 100% auto;
}
footer .site-name {
	text-transform: uppercase;
}
footer .site-name span {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}
footer .contact {
	margin-left: auto;
}
footer .contact p {
	margin-bottom: 0;
}
footer .contact p i {
	width: 14px;
	margin-right: 5px;
	text-align: center;
}
footer .address i {
	margin: 2px 5px 0 0;
}
footer .last {
	padding: 10px 15px;
	background-color: #0d2434;
	font-size: 12px;
}
footer > div:first-child {
	padding-top: 30px;
	padding-bottom: 20px;
}



/*----- Navbar -----*/
#navigation {
	background-color: #00497f;
	font-family: 'Roboto', sans-serif;
	border: 0;
    border-radius: 0;
	margin-bottom: 0;
}
#navigation ul li {
	float: left;
}
#navigation ul li a {
	font-size: 16px;
	color: white;
	display: block;
	line-height: 50px;
	white-space: nowrap;
    position: relative;
    padding: 0 20px;
    font-weight: bold;
}
#navigation ul li a:focus {
	outline: none;
}
#navigation ul li.active a, 
#navigation ul li.active:hover a, 
#navigation ul li:hover a {
	color: white;
	background-color: #0054a6;
}


@media (min-width: 980px) {
	#navigation > .container {
		padding: 0;
	}
}



/*----- Other -----*/
body section#main-content {
	padding: 20px 0;
}
body .dvcbvh {
	margin: -20px -15px;
}
.hide-title .portlet .portlet-content {
	border: 0;
	background-color: transparent;
	padding: 0;
}
.hide-title .portlet-title-text {
	display: none;
}
body .control-menu + div {
	margin-top: 73px;
}