/*----- Row 1 - Homepage -----*/
.dvcbvh > div:first-child {
	background: url("../images/bg-row-1.png") no-repeat center center;
	background-size: cover;
	padding: 45px 0 30px;
	margin-bottom: 15px;
}

/*----- Register -----*/

/* BgImg Register */
.bg-gif-register {
	background: url("../images/bg-gif-register.gif") no-repeat center center;
	padding-top: 77.961783%;
	background-size: contain;
}

/* Register Wrapper */
#register_container {
	max-width: 1170px;
	margin: auto;
}
.register-wrapper .k-tooltip {
	color: #b50303;
	margin-top: 5px;
}
.register-wrapper .k-tooltip .k-icon {
	vertical-align: sub;
	display: inline-block;
	position: relative;
	top: 0;
	-webkit-transform: none;
	transform: none;
}
.register-wrapper .k-picker-wrap .k-tooltip {
	margin-top: 35px;
	position: absolute;
	left: 0;
}
.register-wrapper .checkbox-inline + span {
	vertical-align: bottom;
	display: inline-block;
}


@media (max-width: 767px) {
	.bg-gif-register {
		margin-bottom: 15px;
	}
}



/*----- Login -----*/
.portlet-boundary_FrontendWebPortal_LoginPortlet_ {
	margin-left: auto;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ .portlet {
	margin-bottom: 0;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ form {
	display: block;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ form input {
	height:26px;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ form button {
	padding: 3px 10px;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ form > div:nth-child(3) {
	margin-top: 5px;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ form > div:nth-child(3) button:first-child {
	display: none;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ .text-hover-blue {
	display: block;
	white-space: nowrap;
	margin-top: 5px;
	color: white;
}
.portlet-boundary_FrontendWebPortal_LoginPortlet_ .text-hover-blue:hover {
	text-decoration: underline;
}


@media (min-width: 768px) {
	.portlet-boundary_FrontendWebPortal_LoginPortlet_ form > div:nth-child(2) > div:first-child {
		padding-right: 3px;
	}
	.portlet-boundary_FrontendWebPortal_LoginPortlet_ form > div:nth-child(2) > div:last-child {
		padding-left: 3px;
	}
}

@media (max-width: 767px) {
	.portlet-boundary_FrontendWebPortal_LoginPortlet_ form {
		display: none;
	}
	.portlet-boundary_FrontendWebPortal_LoginPortlet_ .visible-xs {
	    position: absolute;
		top: 26px;
		z-index: 5;
	}
}


.page-theme.signed-out .mLogo + div {
	display: none;
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ {
	max-width: 350px;
    margin: auto;
    background-color: #0b72ba;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ .row:first-of-type .col-sm-6 {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	margin-bottom: 15px;
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ .row:first-of-type input {
	height: 30px;
	padding-left: 45px;
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ .row:first-of-type .col-sm-6:before {
	content: "";
	font-family: FontAwesome;
	position: absolute;
	left: 15px;
	top: 0;
	width: 35px;
	height: 30px;
	background-color: #eee;
	color: #555;
	border-radius: 4px 0 0 4px;
	font-size: 16px;
	border-right: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ .row:first-of-type .col-sm-6:first-child:before  {
	content: "\f007";
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ .row:first-of-type .col-sm-6:nth-child(2):before  {
	content: "\f023";
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ .text-hover-blue:hover {
	color: #14bef0;
}
.page-theme.signed-out #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ .btn-active:hover {
	border-color: #14bef0;
}


@media (min-width: 1000px) {
	.login-page #main-content .portlet-boundary_FrontendWebPortal_LoginPortlet_ {
		position: relative;
		top: -webkit-calc((100vh - 225px) / 2);
		top: calc((100vh - 225px) / 2);
		-webkit-transform: translateY(-60%);
		transform: translateY(-60%);
	}
	.login-page #footer {
		position: fixed;
		width: 100%;
		bottom: 0;
	}
}




/*----- Account Info -----*/

/* Left Info */
.account-info img {
    margin-bottom: 10px;
}
.account-info .name {
    margin-top: 10px;
}
.account-info .name ~ div {
    margin-bottom: 5px;
}
.account-info .name ~ div span {
    display: block;
}

/* Navbar tab */
.account-info .nav-tabs {
	margin-top: 30px;
	border: 0;
}
.account-info .nav-tabs li {
	width: 100%;
	margin: 0;
}
.account-info .nav-tabs li a {
	border: 0;
	background-color: #ebebeb;
	border-radius: 0;
	margin: 0;
}
.account-info .nav-tabs li.active a {
	background-color: #ccc;
	font-family: 'Roboto-Bold';
	border: 0;
}

/* Navbar Content */
.account-info .row-parts-content {
	padding: 15px;
}
.account-info .row-parts-content .editable-click {
	padding-right: 35px;
	border-bottom: 0;
}
.account-info .row-parts-content .text-hover-light-blue {
	position: relative;
}
.account-info .editable-container {
	display: block;
	margin-top: -7px;
}
.account-info .editable-container + span {
	display: none;
}
.account-info .editable-container .form-group > div, 
.account-info .editable-container .form-group > div .editable-buttons {
	display: flex;
}
.account-info .editable-container .editable-buttons button {
	margin-left: 10px;
	border-color: #e1e2e1;
	color: #2a2a2a;
}
.account-info .editable-container .editable-buttons button:hover {
	color: #14bef0;
	background-color: #e1e2e1;
}



/*----- Popup Notification -----*/
.popup-success-notification, 
.popup-error-notification {
	background-color: #51a351;
    color: white;
    opacity: 0.8;
    padding: 10px 15px;
    border-radius: 8px;
	margin-bottom: 15px;
}
.popup-error-notification {
	background-color: #bd362f;
}
.popup-success-notification:hover, 
.popup-error-notification:hover {
	opacity: 1;
}
.popup-success-notification p, 
.popup-error-notification p {
	margin-bottom: 0;
    position: relative;
    padding-left: 25px;
}
.popup-success-notification p:before, 
.popup-error-notification p:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0;
}
.popup-error-notification p:before {
	content: "\f071";
	top: 1px;
}



/*----- Modal -----*/
.modal.fade, .note-editor .modal {
	display: none;
}
html .modal-open .modal {
    pointer-events: none;
}
html .modal-open .modal {
    overflow-y: auto !important;
}
html .modal-dialog {
	margin-bottom: 0;
}
html .modal-open .modal-content {
	pointer-events: all;
}
html .modal-open .modal-header ~ form, 
html .modal-open .modal-header ~ div form {
	max-height: -webkit-calc(100vh - 145px);
    max-height: calc(100vh - 145px);
    overflow: auto;
}

/* Modal fullscreen */
body .modal-full {
	width: 100%;
	margin: 0;
}
body .modal-full .modal-content {
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
}
body .modal-full .modal-body {
	height: 100vh;
	padding: 0;
}



/* Step By Step */
.steps {
    margin-bottom: 15px;
}
.steps .step {
    width: -webkit-calc((100% - 4%) / 3);
    width: calc((100% - 4%) / 3);
    margin-right: 2%;
    background-color: #ccc;
    padding: 5px 15px 5px 0;
    position: relative;
    overflow: hidden;
}
.steps .step.done {
    background-color: #14bef0;  
}
.steps .step:before, .steps .step:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 100%;
    border: 5px solid #f6f6f6;
    border-width: 5px 5px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 10px;
	top: 0;
}
.steps .step:after {
    left: 305px;
    border-width: 20px 20px 0 0;
    width: 55px;
    height: 55px;
	top: -5px;
}
.steps .step:last-child {
    margin-right: 0;
}
.steps .step span {
    display: inline-block;
    line-height: normal;
    color: white;
}
.steps .step span:first-child {
    font-size: 26px;
    width: 50px;
    text-align: center;
    margin-right: 25px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .steps .step {
        padding: 5px 10px;
        border-radius: 6px;
        text-align: center;
    }
    .steps .step:before, .steps .step:after {
        display: none;
    }
    .steps .step span:first-child {
        font-size: 18px;
        width: 100%;
        margin: 0;
    }
}



/*----- Quan ly ho so -----*/
.ul-with-left-icon.icon-folder .icon-left {
    font-size: 20px;
    top: 5px;
    color: #EDD92A;
}
.ul-with-left-icon.icon-folder li {
    padding-left: 25px !important;
    padding-top: 7px;
    padding-bottom: 7px;
}
.ul-with-left-icon.icon-folder li a {
    display: block;
}
.ul-with-left-icon.icon-folder li a:hover {
    color: #0b72ba;
}

.filterField > div > .form-control {
	height: auto;
}

#panel_list {
	transition: all 0.1s linear;
    overflow: hidden;
}
#mainType1 {
	transition: all 0.1s linear;
}
.show-hide #panel_list {
    width: 0;
    padding: 0;
}
.show-hide #mainType1 {
	width: 100%;
}



/*----- Custom Components Bootstrap -----*/

/*----- Bootstrap small -----*/
.gutter-sm *[class*="row-"] {
	margin-left: -10px;
	margin-right: -10px;
}
.gutter-sm *[class*="col-"] {
	padding: 0 10px;
}

/*-- Dropdown Button --*/
.dropdown .dropdown-menu {
	max-width: 300px;
}
section#main-content .dropdown .dropdown-menu li {
	border-bottom: 1px dashed #ddd;
	font-size: 13px;
	padding: 5px 10px;
}
.dropdown .dropdown-menu li:last-child {
	border: 0;
}

/*-- Dropdown Button Inside Accordion --*/
.accordion-group .dropdown-toggle, 
.accordion-group .open .dropdown-toggle {
	border: 0;
	background-color: transparent;
	color: #939393;
}
.accordion-group .open .dropdown-toggle, 
.accordion-group .open .dropdown-toggle:hover {
	color: #14bef0;
}
.accordion-group .dropdown-menu {
	left: auto;
	right: 0;
	width: 300px;
}

/*-- Toggle --*/
.collapse.in {
	-webkit-transition: all linear 0.35s;
	transition: all linear 0.35s;
	height: auto;
}
.collapse.in.toggle-hide {
	overflow: hidden !important;
	height: 0;
	padding: 0 !important;
}

/*-- Default Login --*/
.login-page .mLogo + div, 
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .input-checkbox-wrapper, 
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .navigation {
	display: none;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ {
	max-width: 400px;
	margin: auto;
	background-color: #0b72ba;
    padding: 20px 40px 15px;
    border-radius: 15px;
	color: white;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ input {
	background-color: #f6f6f6;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .button-holder  {
	margin: 0;
	text-align: center;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .button-holder  button {
	background-color: #f6f6f6;
	padding: 8px 16px;
	color: #00bff3;
	border: 2px solid #00bff3;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .button-holder  button:hover {
	color: white;
	background-color: #00bff3;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ input {
	background-color: #f6f6f6;
	padding-left: 44px;
}
.login-page .has-success .control-label,
.login-page .has-success .help-block {
	/* color: #3fff0f; */
	color: white;
}
.login-page .has-error .control-label, 
.login-page .has-error .help-block {
	/* color: #ff2f00; */
	color: white;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .form-group {
	position: relative;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .form-group:before {
	content: "";
	font-family: FontAwesome;
	position: absolute;
	left: 1px;
	top: 25px;
	width: 35px;
	height: 30px;
	background-color: #eee;
	color: #555;
	border-radius: 4px 0 0 4px;
	font-size: 16px;
	border-right: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .fieldset > div > .form-group:first-child:before  {
	content: "\f007";
}
.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ .fieldset > div > .form-group:nth-child(2):before  {
	content: "\f023";
}

@media (min-width: 1000px) {
	.login-page .portlet-boundary_com_liferay_login_web_portlet_LoginPortlet_ {
		position: relative;
		top: -webkit-calc((100vh - 225px) / 2);
		top: calc((100vh - 225px) / 2);
		-webkit-transform: translateY(-60%);
		transform: translateY(-60%);
	}
	.login-page #footer {
		position: fixed;
		width: 100%;
		bottom: 0;
	}
}

/*-- Manual --*/
#manual-menu {
	width: 16.66667%;
}
#manual-menu.sticky {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:15px;
}
#manual-menu .active {
	background-color: #e9e9e9;
}

/*---------- Row 1 ----------*/
.dvcbvh > div:first-child {
	background: url("../images/bg-row-1.png") no-repeat center center;
	background-size: cover;
	padding: 45px 0 30px;
	margin-bottom: 15px;
}

/*----- Left -----*/
.dvcbvh > div > div > div {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tracuu {
	text-align: center;
}
.tracuu .title {
    color: #00497f;
    text-shadow: -1px -1px 0 white, 
	             1px -1px 0 white, 
	             -1px 1px 0 white,  
	             1px 1px 0 white;
	font-size: 30px;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-family: 'Roboto';
}
.tracuu .search-wrapper {
    position: relative;
    display: inline-block;
	max-width: 330px;
	width: 100%;
}
.tracuu .search-wrapper input {
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #d5d4d1;
    border-radius: 50px;
    padding: 0 55px 0 20px;
}
.tracuu input[type="text"]::-webkit-input-placeholder {font-style: italic;}
.tracuu input[type="text"]:-moz-placeholder {font-style: italic; opacity: 1;}
.tracuu input[type="text"]::-moz-placeholder {font-style: italic; opacity: 1;}
.tracuu input[type="text"]:-ms-input-placeholder {font-style: italic;}
.tracuu .search-wrapper button {
    border: 0;
    background-color: transparent;
    font-size: 24px;
    color: #ccc;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 2px;
}
.tracuu .search-wrapper button:hover, .tracuu .search-wrapper button:focus {
	color: #00497f;
	outline: none;
}
.tracuu .text {
	font-size: 18px;
	color: #00497f;
	max-width: 445px;
    margin: 10px auto 0;
	text-shadow: -1px -1px 0 white, 
	             1px -1px 0 white, 
	             -1px 1px 0 white,  
	             1px 1px 0 white;
}

/*----- Right -----*/
.title-slider {
	color: #00497f;
	text-shadow: -1px -1px 0 white, 
	             1px -1px 0 white, 
	             -1px 1px 0 white,  
	             1px 1px 0 white;
	font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.img-gallery img {
    width: 100%;
}
.img-gallery .box {
    width: calc((100% - 10px) / 2);
    float: left;
    height: 105px;
    background-color: rgba(0,84,166,0.9);
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.img-gallery .box:nth-child(n+5) {
    margin-bottom: 0;
}
.img-gallery .box:nth-child(even) {
    float: right;
}
.img-gallery .box a {
	height: 100%;
}



/*---------- Row 2 ----------*/
.hide-title .portlet {
	border: 0 !important;
}


/*---------- Row 3 ----------*/
.dvcbvh .portlet {
	border: 1px solid #ccc;
    margin-top: 15px;
}

.dvcbvh .portlet .portlet-content {
	padding: 0;
}
.dvcbvh .portlet-title-text {
	font-size: 16px;
	color: #0054a6;
	font-style: italic;
	margin: 0;
	line-height: normal;
	padding: 13px 15px 10px;
	border-bottom: 5px solid #0054a6;
	text-transform: none;
	border-width: 0 0 5px;
	max-width: 100%;
	width: 100%;
}
.dvcbvh .portlet-title:before {
	display: none;
}

/*----- Left -----*/

/* DVC 3&4 */
.dvc34 {
	max-height: 400px;
    overflow: auto;
}
.dvcbvh div[class*="panel"] .title {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #0054a6;
    margin-bottom: 10px;
}
.dvcbvh div[class*="panel"] .lv {
    padding: 0 15px 10px;
}
.dvcbvh div[class*="panel"] .sub-title {
    font-weight: bold;
    color: #0054a6;
}
.dvcbvh div[class*="panel"] .more {
    color: #939393
}
.dvcbvh div[class*="panel"] ul {
    padding: 0;
}
.dvcbvh div[class*="panel"] ul li {
    padding: 0 0 0 15px;
    margin: 5px 0;
}
.dvcbvh div[class*="panel"] ul li:before {
    content: "\f101";
    font-family: FontAwesome;
    top: 0px;
    font-size: 14px;
    color: #666;
}
.dvcbvh div[class*="panel"] ul li:hover:before {
    color: #0054a6;
}

/* DVC 1&2 */
.dvcbvh .toolbar_search_input {
	padding: 15px 15px 0;
}
.dvcbvh .toolbar_search_input select {
	margin-bottom: 10px;
}
.dvcbvh .toolbar_search_input button {
	float: right;
}
.dvcbvh .opencps-searchcontainer-wrapper {
	border-top: 5px solid #ebebeb;
	margin-top: 15px;
}
.dvcbvh .opencps-searchcontainer-wrapper .pagination {
	text-align: right;
}
.dvcbvh .opencps-searchcontainer-wrapper .pagination ul {
	padding: 0 15px;
}
.dvcbvh .opencps-searchcontainer-wrapper .pagination li {
	padding: 0;
}

/*----- Right -----*/
.dvcbvh ul {
	padding: 10px 15px;
}
.dvcbvh .portlet li {
	position: relative;
	padding: 2px 0 2px 15px;
}
.dvcbvh .portlet li:before {
	content: "";
	font-family: FontAwesome;
	color: #e1e1e1;
	position: absolute;
	top: 2px;
    left: 0;
    font-size: 10px;
}
.dvcbvh .ul-style-triangle li:before {
	content: "\f0da";
	font-size: 16px;
}
.dvcbvh .portlet-boundary_1_WAR_portalnewspublisherportlet_ li:before {
	content: "\f111";
}
.dvcbvh li:hover, .dvcbvh li:hover:before {
	color: #0054a6;
}

/*-- Select --*/
.weblink-default-wrapper {
	margin-top: 15px;
	position: relative;
}
.weblink-default-wrapper:before {
	content: "\f0d7";
	font-family: FontAwesome;
	position: absolute;
	right: 20px;
	top: 13px;
	font-size: 18px;
}
.weblink-default-wrapper .control-group, .weblink-default-wrapper select {
	margin-bottom: 0;
}
.weblink-default-wrapper select {
    height: 45px;
    border-radius: 50px;
    padding: 0 20px;
    font-style: italic;
    background-image: none;
    border-color: #ccc;
}
.weblink-default-wrapper select:focus {
    outline: none;
    border-color: #0054a6;
}

/*----- Detail -----*/
.detail #content {
    padding: 15px 0 10px;
}
.detail .dvcbvh > div:first-child, 
.detail .dvcbvh #column-3 {
    display: none;
}
.detail .asset-content {
    margin: 0 !important;
    padding: 0 15px 15px;
}
.detail .asset-content * {
    font-size: 14px !important
}
.detail .asset-content img {
    margin: 10px auto;
}
.detail .dvcbvh .taglib-header {
    padding: 15px 15px 0;
    margin-bottom: 0;
}
.detail .dvcbvh .taglib-header h3 {
    font-size: 16px !important;
}
.detail .dvcbvh .header-back-to a {
    display: none;
}

.slick-prev, .slick-next {
    font-size: 0!important;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: transparent;
}