/ActionConfigApiTest.class
/DocumentTypesApiTest.class
/DossierDocumentsApiTest.class
/DossierStatisticApiTest.class
/DossierSyncApiTest.class
/MenuConfigApiTest.class
/StatisticReportApiTest.class
/StepConfigApiTest.class
