/CommentTerm.class
/DataMGTConstants.class
/DictCollectionTerm.class
/DictGroupTerm.class
/DictItemGroupTerm.class
/DictItemTerm.class
/FileAttachTerm.class
/HolidayTerm.class
/LabelTerm.class
/LocationTerm.class
/OnlineFormTerm.class
/ResourceLabelTerm.class
/ResourceWorkspaceTerm.class
/WorkTimeTerm.class
/WorkspaceTerm.class
/WorkspaceUserTerm.class
