/AnswerPersistenceImpl.class
/ApplicantPersistenceImpl.class
/EmployeeJobPosPersistenceImpl.class
/EmployeePersistenceImpl.class
/HmacAuthenPersistenceImpl.class
/JobPosPersistenceImpl.class
/JobPosWorkPersistenceImpl.class
/OfficeSitePersistenceImpl.class
/PreferencesPersistenceImpl.class
/QuestionPersistenceImpl.class
/ResourceRolePersistenceImpl.class
/ResourceUserPersistenceImpl.class
/UserLoginPersistenceImpl.class
/UserTrackPathPersistenceImpl.class
/VisibilityPersistenceImpl.class
/WorkingUnitPersistenceImpl.class
