/OpencpsDossierStatistic.class
/OpencpsDossierStatisticModel.class
/OpencpsDossierStatisticSoap.class
/OpencpsDossierStatisticWrapper.class
/OpencpsPersonStatistic.class
/OpencpsPersonStatisticModel.class
/OpencpsPersonStatisticSoap.class
/OpencpsPersonStatisticWrapper.class
/OpencpsVotingStatistic.class
/OpencpsVotingStatisticModel.class
/OpencpsVotingStatisticSoap.class
/OpencpsVotingStatisticWrapper.class
