.row-1 {
	background: url('../images/bg-home.jpg') center center no-repeat;
	background-size: 100% auto;
	margin-top: -10px;
	padding-top: 80px;
	padding-bottom: 100px;
	color: white;
}
.row-1 .left .about {
	font-size: 16px;
	margin-bottom: 40px;
	font-weight: bold;
	text-shadow: 0px 3px 5px black;
}
.row-1 .left .about p {
	font-size: 24px;
	margin-bottom: 10px;
}
.row-1 .left .about span {
	line-height: 20px;
}
.row-1 .left .search input {
	width: 200px;
	height: 34px;
	background-color: white;
	border: 0;
	padding: 0 15px;
	display: inline-block;
}
.row-1 .left .search button {
	background-color: #f1f4f8;
	color: #005792;
	border: 0;
	height: 34px;
	display: inline-block;
	margin-left: -4px;
	padding: 0 10px;
}
.row-1 .left .search button:hover {
	color: white;
	background-color: #0081c6;
	cursor: pointer;
}
.row-1 .left .search a {
	display: block;
	background-color: #fdb44b;
	color: white;
	margin-top: 10px;
	width: 282px;
	text-align: center;
	padding: 5px 0;
}
.row-1 .left .search a img {
   	margin-right: 10px;
    width: 16px;
}
.row-1 .right {
    width: 300px;
}
.row-1 .right .head {
	background-color: #0081c6;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.row-1 .right .body {
	background: url(../images/img-home-6.png) center center no-repeat;
    background-size: cover;
	padding: 15px 0;
}
.row-1 .right .body > p {
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
}
.row-1 .right .numbers {
	margin: 20px 0;
}
.row-1 .right .numbers > div {
	width: 50%;
	text-align: center;
}
.row-1 .right .numbers p {
	text-transform: uppercase;
	margin-bottom: 5px;
}
.row-1 .right .numbers span {
	font-size: 24px;
	font-weight: bold;
}
.row-1 .right .numbers label {
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 5px;
	display: block;
}
.row-1 .result {
	text-align: center;
}
.row-1 .result p {
	font-size: 36px;
	color: #fdb44b;
	font-weight: 500;
}
.row-1 .result span {
	text-transform: uppercase;
}

.row-2 {
	background: url('../images/bg-home-3.jpg') center center repeat-x;
	background-size: auto 100%;
	padding: 15px 0;
}
.row-2 .container > img {
	margin-top: -65px;
	float: left;
	margin-right: 85px;
}
.row-2 .step {
	color: white;
	margin-right: 70px;
	font-weight: 500;
}
.row-2 .step:last-child {
	margin-right: 0;
}
.row-2 .step img {
	margin-right: 10px;
}

.row-3 {
	background: url('../images/bg-home-2.jpg') center center no-repeat;
	background-size: cover;
}
.row-3 .sub-text {
	color: #005792;
	background-color: rgba(0,87,146,0.1);
	text-align: center;
	padding: 10px 0;
}
.row-3 > .container {
	padding: 30px 15px;
}
.row-3 .box {
	width: 170px;
	background-color: #d8e4ee;
	color: #005792;
	padding: 15px;
	display: block;
	margin-bottom: 15px;
	text-align: center;
	border-bottom: 4px solid #fdb44b;
	-webkit-box-shadow: inset 0 0 0 0 #fdb44b;
	box-shadow: inset 0 0 0 0 #fdb44b;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.row-3 .box:hover {
	-webkit-box-shadow: inset 0 -200px 0 0 #fdb44b;
	box-shadow: inset 0 -200px 0 0 #fdb44b;
}
.row-3 .box:last-child {
	margin-bottom: 0;
}
.row-3 .box img {
	display: block;
	margin: 0 auto 10px;
}
.row-3 .box span {
	display: block;
}

.row-4 {
	padding: 30px 0 0;
}
.row-4 .chart-progress {
	width: 66.666667%;
    float: left;
    padding-right: 15px;
}
.row-4 > .container {
	overflow: hidden;
}
.row-4 .chart-result {
	width: 33.333333%;
    float: right;
    padding-left: 15px;
}
.portlet-boundary_FrontendWebPortal_LookupDossierResultPortlet_ .portlet-body {
  min-height: -webkit-calc(100vh - 340px);
  min-height: calc(100vh - 340px);
}
#detailViewNodata {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 40px;
}