<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Theme</title>

    <link rel="stylesheet" href="../../../../../../../style-component/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../../../style-component/css/kendo.common.core.min.css">
    <link rel="stylesheet" href="../../../../../../../style-component/css/override-kendoui.css">
    <script src="../../../../../../../style-component/js/jquery-1.11.3.js"></script>
    <script src="../../../../../../../style-component/js/bootstrap.min.js"></script>
    <script src="../../../../../../../style-component/js/kendo.ui.core.min.js"></script>

    <!-- custom css, js -->
    <link rel="stylesheet" href="../../../../../../../style-component/css/modern_component.css">
    <link rel="stylesheet" href="../../../../../../../style-component/css/custom.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

        
</head>

<body>
    <header id="banner">
        <div class="container-fluid align-middle">
            <div class="logo align-middle">
                <a href="#">
                    <img src="../../../../../../../style-component/images/logo.png">
                    <div class="text-logo">
                        Logo, banner
                        <span>Hệ thống dịch vụ công trực tuyến</span>
                    </div>
                </a>
            </div>
            <div class="sub-info">
                <#-- <#include "login.ftl"> -->
                <!-- <input type="text" class="form-control" id="" placeholder="Tài khoản đăng nhập" title="Tài khoản đăng nhập">
                <input type="password" class="form-control" id="" placeholder="Mật khẩu" title="Mật khẩu">
                <a href="#" class="signin">Đăng nhập</a>
                <a href="#">Quên mật khẩu?</a> -->
            </div>
        </div>
    </header>

    <nav class="navbar navbar-default" id="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Trang chủ</a></li>
                    <li><a href="#">Thủ tục hành chính</a></li>
                    <li><a href="#">Thống kê số liệu</a></li>
                    <li><a href="#">Đánh giá mức độ hài lòng</a></li>
                    <li class="register"><a href="#">Đăng ký</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <article id="main-content">
        <div class="container">
