/DictCollectionTempLocalServiceBaseImpl.class
/DictGroupTempLocalServiceBaseImpl.class
/DictItemGroupTempLocalServiceBaseImpl.class
/DictItemTempLocalServiceBaseImpl.class
/PushCollectionLocalServiceBaseImpl.class
/PushDictGroupLocalServiceBaseImpl.class
/PushDictItemLocalServiceBaseImpl.class
/SyncQueueLocalServiceBaseImpl.class
