/CommentLocalServiceImpl.class
/DictCollectionLocalServiceImpl.class
/DictGroupLocalServiceImpl.class
/DictItemGroupLocalServiceImpl.class
/DictItemLocalServiceImpl.class
/FileAttachLocalServiceImpl.class
/HolidayLocalServiceImpl.class
/VotingLocalServiceImpl.class
/VotingResultLocalServiceImpl.class
/WorkTimeLocalServiceImpl.class
